[2021-12-01 21:13] tchaton opened #4 "Example with Lightning Flash"
### Area Select

Other

### Description

Dear team from Live,

Thanks for this awesome work,
I believe it would be great to have more examples across more tasks and I believe there could be lot of synergy with Lightning Flash.
Here is repo: https://github.com/PyTorchLightning/lightning-flash

Best regards,
T.C

[2021-12-01 21:57] raedle commented on #4
Hi @tchaton, thanks for reaching out, and for your interest in PyTorch Live! It would be really awesome to see how PyTorch Lightning could be used to train models that work with PyTorch Live!

I think a first good step would be having a tutorial that walks users through each step along the way. Are you interested in creating a tutorial and submitting a PR. We're happy to provide guidance along the

[2021-12-03 23:33] mictiong85 opened #6 "Link Broken"
### Tutorial Select

Get Started

### Feedback

"Follow the manual installation instructions to get started on Windows and Linux" link is broken.

[2021-12-04 07:22] raedle commented on #6
Thanks for reporting the broken link, @mictiong85! We fixed the link; closing the issue.

Feel free to submit a PR with a fix. We're happy to review and merge changes from the community :)

[2021-12-04 07:22] #6 closed

[2021-12-06 20:30] tnoulas opened #7 "Can't run the app on my phone or the"
### Tutorial Select

Get Started

### Feedback

When I run
npx torchlive-cli init MyFirstProject
I get the following exception. This happens when I both try to run while having a phone connected or the emulator. I am using the latest version of android studio.

FAILURE:‎ Build‎ failed‎ with‎ an‎ exception.

*‎ What‎ went‎ wrong:
Execution‎ failed‎ for‎ task‎ ':app:installDebug'.

*‎ Try:
Run‎ with

[2021-12-06 20:45] liuyinglao commented on #7
Hey Tassos,

Thanks for reporting the issue! The build error message doesn't seems to be clear where may go wrong -- may I ask for your help to identify the issue with the following check?
1. when you "npx torchlive-cli init <project name>", do you see any error reported?
2. could you run in your terminal "ls <project name>/models" and paste the output here?
3. could you also try to run "npx torch

[2021-12-06 20:52] tnoulas commented on #7
Hi,

the above happened only when I used the MyFirstProject instructions.

When instead I try to run this tutorial https://pytorch.org/live/docs/tutorials/image-classification
it all worked great!

Back to your questions

2.
(base) AnastasiossMBP2:MyFirstProject anastasiosnoulas$ ls ./models/
bert_qa.ptl				mnist.ptl				requirements.txt
bert_qa.ptl.live.spec.json		mnist.ptl.live.spec.json		resnet1

[2021-12-06 21:50] raedle commented on #7
Hi @tnoulas,

If I understand correctly, the Image Classification tutorial worked for you, but running the commands in the Get Started tutorial fails. Is this correct?

Can you provide the output for the following commands:

* `npx torchlive-cli doctor`
* `npx react-native info`

It might be a shot in the dark, but try running `npx torchlive-cli clean` in the project directory and then re-run `npx

[2021-12-07 04:59] aaronespasa commented on #7
Hey @tnoulas,

Did you install all the dependencies and packages before executing the `init` command? If that's not the case, I encourage you to run the following command:

[code]

You'll see that the previous command will also install both the Android SDK and the Android Emulator. But even when I did this, I still couldn't run the app on the Android Emulator. What was missing was to install Andro

[2021-12-07 17:13] bairock opened #10 "yolov5s.torchscript.ptl"
### Version

1.1.0

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

run model yolov5s.torchscript.ptl

### Expected Results

get results (bbox, class)

### Code example, screenshot, or link to repository

Error Possible Unhandled Promise Rejection (id: 0):
Error: End of input at character 0 of promiseMethodWrapper

Did I follow this instruction to convert .pt to

[2021-12-08 02:30] chrisklaiber commented on #10
Hello @bairock, thank you for your interest in PyTorch Live! As far as I’m aware, there isn’t yet a Live Spec defined by the community for YOLOv5. Are you planning to create one?

You can follow the tutorial here for instructions about how to adapt existing models to PyTorch Live (https://pytorch.org/live/docs/tutorials/prepare-custom-model), which includes creating a Live Spec. A Live Spec define

[2021-12-09 08:53] alleniver opened #11 "the app crashed in the release mode"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Hi, the app is crashing on my phone after release mode, but it is fine in debug mode.

Env:Android 11,Moto G100
Logs:
12-09 16:27:02.492 19401 10332 E AndroidRuntime: FATAL EXCEPTION: pool-2-thread-1
12-09 16:27:02.492 19401 10332 E AndroidRuntime: Process: org.pytorch.live.example, PID:

[2021-12-09 10:06] aaronespasa commented on #11
Hi @alleniver,

Could you check if there exists a file called `resnet18.ptl` on your models/ folder?

<img width="428" alt="Screenshot 2021-12-09 at 11 00 33" src="https://user-images.githubusercontent.com/39239895/145375236-2bc4e861-d037-4889-a8bc-146cc796460d.png">

The first thing that comes to my mind is that the models were not built correctly. I'm not quite sure if this is the issue as the f

[2021-12-09 15:29] chauvinSimon opened #12 "manual set-up error: Command failed: /tmp/rncli-init-template-lRLLcg/node_modules/react-native-template-pytorch-live/script.js"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

OS: `Ubuntu 20.04.3 LTS`
`python3 -V`: `Python 3.8.5`

List of all installed node.js modules with `npm -g ls --depth=0`:
[code]

command: `npx react-native init MyFirstProject --template react-native-template-pytorch-live`

### Expected Results

[code]

if needed, I can supply the outcom

[2021-12-09 15:40] aaronespasa commented on #12
Hi @chauvinSimon,

When building the script, see that the program is using the python3 with the version you have installed locally, which can lead to multiple errors at the time of looking for specific dependencies.

I published a solution to this error on the following Pull Request. However, the solution have not been tested with Ubuntu and you may need to make some changes on the script.js file

[2021-12-09 16:44] chauvinSimon commented on #12
Thank you @aaronespasa for your answer. And thank you a lot for your PR!
Indeed, I had to adapt `script.js`:

[code]
and
[code]

In addition, it required some `yarn cache clean` against `.yarn-metadata.json: Unexpected end of JSON input`.

I could eventually build with `npx react-native init MyFirstProject --template [local path to my adapted react-native-template-pytorch-live]` :smiley: :tada:

[2021-12-09 18:12] liuyinglao commented on #11
@alleniver thanks for the feedback and it seems @aaronespasa  is right! May I ask
1. did you see an error.log file under the ./models/ directory, and if you did, any content within it?
2. what system are you in (Windows, Mac, Linux or others?)

We would have expected our post-init script to report you the error when you init the app -- you could also try rerun the [script](https://github.com/pytor

[2021-12-09 18:18] aaronespasa commented on #12
Oh, I'm so glad to read that @chauvinSimon ! 🎉

In addition to installing the models, were you able to run PyTorch Live on Android or iOS from Ubuntu?

[2021-12-09 18:19] chauvinSimon commented on #12
I will test that tomorrow and let you know

[2021-12-09 18:19] aaronespasa commented on #12
Nice!

[2021-12-10 04:50] alleniver commented on #11
I use the win10,the /models/resnet18.ptl has exists! the packaged file has 940mb, so the model should be included.
look the attachment please.
![image](https://user-images.githubusercontent.com/6006650/145518550-461dd5be-2dc2-4dea-8e00-ffb9199f7ef3.png)
![image](https://user-images.githubusercontent.com/6006650/145518754-2799217e-0ec6-433e-ac3d-2f62fd12edd0.png)
![image](https://user-images.github

[2021-12-10 07:35] chauvinSimon commented on #12
To answer your question:

I think I could not even install the models properly. And was not able to run it on any device.

---

I was not sure if I should use `npx react-native init` or `npx torchlive-cli init` to initialize a project based on `react-native-template-pytorch-live`.

Both commands seems successful.

I make sure my emulator is running.

Below are reporting the results of the two meth

[2021-12-10 18:45] liuyinglao commented on #12
Hey @chauvinSimon Thanks for reporting the issue and would be happy to work with you on addressing this linux issue! looks like the models file is not generated correctly -- could you share the output of "ls <projectName>/models/" and if no models are generated, you could also try to use the "python3 -W ignore make_models.py" to generate the models.

also the error.log files under the models/ dir

[2021-12-11 13:13] bairock commented on #10
Is there an example of unpuck type tuple? found no example anywhere.

[2021-12-11 13:33] Aisenapio commented on #10
What the structure of the items in the tuple unpack should be, here is an example:
`#      xmin    ymin    xmax   ymax  confidence  class    name
# 0  749.50   43.50  1148.0  704.5    0.874023      0  person
# 1  433.50  433.50   517.5  714.5    0.687988     27     tie
# 2  114.75  195.75  1095.0  708.0    0.624512      0  person
# 3  986.00  304.00  1028.0  420.0    0.286865     27     tie`

[2021-12-13 08:33] chauvinSimon commented on #12
Thank you @liuyinglao
Indeed, `python3 -W ignore make_models.py` could create the missing models.

One issue I had was with which `env` to activate. At the end, what worked for me was to use the `venv` of my first version (manual set up) which was correct, and run `python3 -W ignore make_models.py` in the second project (with CLI).

A bit complicated.
But eventually, I could start the app, both on

[2021-12-13 08:33] #12 closed

[2021-12-14 00:22] raedle commented on #11
@alleniver, thanks for reporting this issue! I can repro on Android, and we'll be looking into a fix!

If you have a fix already, feel free to submit a PR!

[2021-12-14 12:30] kartashofs opened #15 "I've got an error while creating new TorchLive Project"
### Tutorial Select

Get Started Manually

### Feedback

![image_2021-12-14_15-26-00](https://user-images.githubusercontent.com/41585596/145998331-2ae4d6db-8559-4b20-811f-f565698f159a.png)

C:\WINDOWS\system32>npx torchlive-cli init MyFirstProject
  _                 _     _ _
 | |_ ___  _ __ ___| |__ | (_)_   _____
 | __/ _ \| '__/ __| '_ \| | \ \ / / _ \
 | || (_) | | | (__| | | | | |\ V /  __/

[2021-12-14 17:26] #15 closed

[2021-12-19 11:16] batrlatom opened #17 "Custom trained DETR"
### Version

latest

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Hi, I have a problem to create working live.spec.json file for my custom detr. The detr itself works fine when inferenced from python

steps to reproduce:
1. retrain detr
2. change .spec according the tutorial
section to modify ...
[code]
3. rebuild model for mobile

Problem to solve:
```Error:

[2021-12-19 12:03] batrlatom commented on #17
ok, so it looks like I need to index from 1 and the the specfile looks like. Fine it works, but it would be nice to have it stated explicitly. btw., are you looking for tutorials? I could make one for retraining detr

[code]

[2021-12-19 12:03] #17 closed

[2021-12-20 00:33] raedle commented on #17
Thanks for flagging this, @batrlatom!!

Yes, contributions to PyTorch Live are very much welcome, including new tutorials! Feel free to submit a DETR tutorial as PR!!

FYI, the classes in the example are based on the CoCo dataset, similar to what is used in [DETR panoptic in this notebook](https://colab.research.google.com/github/facebookresearch/detr/blob/colab/notebooks/DETR_panoptic.ipynb)

[2021-12-21 00:28] raedle commented on #11
@alleniver, @chrisklaiber could pinpoint the issue and submitted a fix with 394ba1b.

To get the changes you can do one of the following two options:

* Update the `react-native-pytorch-core` package with `yarn update react-native-pytorch-core --latest`
* Initialize a new project with `npx torchlive-cli init NewProject`

Closing the issue. Please reopen if it didn't fix the underlying issue on you

[2021-12-21 00:28] #11 closed

[2021-12-21 03:24] alleniver commented on #11
good job,it's fine now! thanks.

[2021-12-21 07:35] RyanShun-511 opened #18 "error:Error:Unable to resolve module ../../models/detr_resnet50.ptl from F:\PyTorchDemo\MyFirstProject\src\examples\ObjectDetectionExample.tsx"
### Tutorial Select

Get Started Manually

### Feedback

I installed the relevant software according to tutorial instructions, and after executing the relevant steps, the Node window showed this problem. I am very confused, and I hope to get your answer.

Problem description:

None of these files exist:
  * detr_resnet50.ptl
  * models\detr_resnet50.ptl\index(.native|.android.js|.native.js|.js|.an

[2021-12-21 19:31] ademirmochi opened #19 "react-native-pytorch-core camera is showing blank screen on Windows environment React Native App"
### Description

I'm following this tutorial to create a React Native App that can read ptl files for image classification: https://pytorch.org/live/docs/tutorials/image-classification/

I'm already aware that, there more steps than normal to make this work in Windows, atleast according with https://pytorch.org/live/docs/tutorials/get-started-manually/ tutorial;

That should be simple, just open t

[2021-12-21 23:13] liuyinglao commented on #19
Hi @ademirmochi thanks for using PTL and provide the feedback. We are happy to follow up on this -- if I am understanding correctly, you are developing (and build the app) with a Windows machine. May I ask where is the app ran? Is the camera NOT running on a physical device,  simulator, or both? And are you building an Android App or iOS app?

This would help us reproduce the issue and see how we

[2021-12-22 04:21] raedle commented on #18
@RyanShun-511 , thanks for reporting this issue. We were able to reproduce it on our end and will submit a fix soon!

In the meantime, you can try if the follow steps unblock you:

1. `cd F:\PyTorchDemo\MyFirstProject\models`
2. Change line 27 in `make_models.py` from `spec = Path(f"{name}.{MODEL_EXTENSION}.live.spec.json").read_text()`  to `spec = Path(f"{name}.{MODEL_EXTENSION}.live.spec.json").

[2021-12-22 13:29] RyanShun-511 commented on #18
@raedle Thank you for your reply. Following your steps, I can see the model generated in the export_image_Classification_models function under F:\PyTorchDemo\MyFirstProject\ Models. The detr_resnet50.ptl file does not exist. Later parts of the program, such as MNIST models, may not be generated.
Excuse me, how can I solve this problem?

Description on node:
error: Error: Unable to resolve module .

[2021-12-22 13:44] RyanShun-511 commented on #18
@raedle Or you have the detr_resnet50.ptl model file and the model files generated in the export_mnist_model and export_NLP_models functions for me to download. I put it directly in the F:\PyTorchDemo\MyFirstProject\ Models folder.
Thank you for your careful answer.

[2021-12-23 07:31] RyanShun-511 commented on #18
During the execution of the make_model.py file, I downloaded the model from the URL myself. You can put the program on your phone. Thank you for your answers.

[2021-12-23 20:02] ademirmochi commented on #19
thanks for the reply, BOTH, I've used in a Windows machine, then, after seeing that there was a lot of problems with windows and/or Linux, I've tried with a m1 Mac machine, I'm trying to use pytorch-live-core sdk and integrating in an already existing app, and I've tried with both IOS and Android phones, and with the emulator as well, none worked, but since there is a camera involved, I'm trying m

[2021-12-26 20:34] AyushExel opened #20 "Support for Expo and Web"
### Area Select

react-native-pytorch-core (core package)

### Description

First of all, I want to say that this is one of the best projects I've come across in the holidays. This exactly fits my use case of rapid ML application prototyping. can't wait for the stable release! :)
Full disclosure - I'm an ML engineer and I don't have a lot of experience working with react native.

Unfortunately, I'

[2021-12-28 08:00] raedle commented on #20
Hi @AyushExel,

Thanks for leaving the encouraging comment! It is one of our goals to make PyTorch Live the best-in-class ML tool for rapid prototyping, which is why it is important to get feedback from the community (like your feedback) to help us achieve this goal!

There are some issues with M1 chipsets with Android, React Native, Python, and PyTorch. We have solved a few already and will be so

[2021-12-28 08:03] raedle commented on #18
@RyanShun-511 to help narrow down the issue, please provide a list of model files (i.e., `*.ptl` files) that are generated when following the [steps provided in my comment above](https://github.com/pytorch/live/issues/18#issuecomment-999275166)

Thank you!

[2021-12-28 08:09] raedle commented on #19
@ademirmochi, what style is applied to the camera? It may be the camera component mounts but renders with `0` width and height. Please try giving the camera a fixed width/height or apply the following style.

[code]

[2021-12-28 14:19] Janjs opened #21 "Template not installing with init command"
### Version

v0.1.2

### Problem Area

CLI

### Steps to Reproduce

Following the tutorial, no errors on the setup, but when initializing a new project, the template doesn't get downloaded.

1. npx torchlive-cli setup-dev
2. npx torchlive-cli init MyFirstProject

error An unexpected error occurred: "https://registry.yarnpkg.com/react-native-template-react-native-template-pytorch-live: Not found".

[2021-12-28 19:42] raedle commented on #21
Hi @Janjs, thanks for reporting the issue!

1. The `npx` (or `npm`) seems to be using the `yarn` registry. You can verify this by running the following command:

[code]

which should log the default npm registry: `https://registry.npmjs.org/`.

2. Try if the following works for you:

[code]

3. What are your versions for `node`, `npm`, and `npx`? (e.g., `node --version`)

[2021-12-28 20:00] Janjs commented on #21
Hi @raedle thank you for the cool library and the quick response!

1. I get `https://registry.npmjs.org/` when running `npm config get registry`.
2. Same a similar error, now with npm:
`error An unexpected error occurred: "https://registry.npmjs.org/react-native-template-react-native-template-pytorch-live: Not found".`
3. node v14.16.0, npm and npx 8.1.4

[2021-12-28 20:32] raedle commented on #21
@Janjs, any chance `react-native` is installed globally?

1. You can check it with

[code]

which should be `(empty)` and log something like the following:

[code]

You can check all globally installed packages with the following command:

[code]

Also make sure to check the globally installed packages with `yarn`:

[code]

If `react-native` is installed globally, remove it and try again.

2. If y

[2021-12-28 20:54] Janjs commented on #21
Removing `react-native-cli` globally did the trick! Thank you @raedle.

[2021-12-28 20:54] #21 closed

[2021-12-29 09:52] AyushExel commented on #20
@raedle thanks for the info. for the expo reproduction, here are the steps:
* Initialize a project using `expo init <project_name>`
* Install react-native-pytorch-core `expo install react-native-pytorch-core`
* Use any module from pytorch core in App.js. e.g, the `<Camera /> module
* Running this app on emulator or even the physical device throws this error, but without pytorch-core components the

[2021-12-29 19:28] ademirmochi commented on #19
So I did it, it didn't help, but I did manage to go over this particular problem, now, I've created a custom ptl model from scratch, but the thing is, it was based in Yolo, not MobileNet, like in the tutorial, how can I read it properly, I mean, I did like in the tutorial, but, since it expects a MobileNet model, of course that generated an error, so basically my question is, and keep in mind I ve

[2021-12-29 21:47] raedle commented on #20
Thanks, @AyushExel! I could confirm the "Invariant Violation" error on my end with the `blank` Expo template.

FWIW, ejecting the Expo app (`expo eject`) and running the React Native app with `yarn android` works.

@byCedric, do you have an idea? :)

[2021-12-30 13:09] Sxela opened #22 "wrong template name"
### Tutorial Select

Get Started Manually

### Feedback

After running `npx react-native init MyFirstProject --template react-native-template-pytorch-live` on windows 10, everything goes well until this: `info Fetching template react-native-template-react-native-template-pytorch-live...`
which results in `error An unexpected error occurred: "https://registry.yarnpkg.com/react-native-template-react

[2021-12-30 13:10] Sxela commented on #22
dupe

[2021-12-30 13:10] #22 closed

[2021-12-30 18:41] Sxela opened #23 "model spec for image2image models"
### Area Select

react-native-pytorch-core (core package)

### Description

What should I do to make a correct spec for image2image model? (unet, for example)
The "pack" spec part seems to be okay, as for "unpack" - I can't find anything that would fit my use case in your model spec API here - https://pytorch.org/live/docs/api/model-spec/
I need to convert a predicted tensor back to an image with

[2022-01-02 17:50] Sxela commented on #23
I found it in the code as plain and simple "tensor_to_image", I guess it should be added to the spec API docs.

[2022-01-03 18:35] aaronespasa opened #25 "Emulator is not installed correctly on the M1 MacBook using the setup-dev command"
### Version

0.1.2

### Problem Area

CLI

### Steps to Reproduce

This issue only occurs on the M1 MacBook.

To reproduce this issue:

1. If you have the Android Emulator already installed in your computer, uninstall it.
2. Execute the command `npx torchlive-cli setup-dev` to install the dependencies. You will see that the Android Emulator has been installed correctly:
![2FF6C24D-13F8-4C04-B7CF-F

[2022-01-04 06:09] mdwelsh opened #26 "iOS does not support all types in model spec"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. Write a model spec JSON with an "unpack" type of "tuple" or "list", as described in the documentation here:
https://pytorch.org/live/docs/api/model-spec/#unpack-output-post-processing

2. Attempt to execute this model on iOS.

### Expected Results

The model should execute and return

[2022-01-05 01:54] chrisklaiber commented on #23
@Sxela yes, you have found the correct unpacker! However, note that it is currently undocumented and the behavior may change in a future release. Exposing this image unpacker is on our roadmap.

One gotcha to be aware of: the current reverse normalization dynamically determines the range of values in the data. If your range is <1 it will cause a divide by zero, which results in a float value of `-

[2022-01-05 02:29] raedle commented on #26
Thanks for reporting this and for submitting PR #27 to report the differences in the API docs, @mdwelsh!

[2022-01-05 02:34] raedle commented on #25
Thanks for reporting the issue on M1 devices, @aaronespasa. Is PR #24 related to this issue?

[2022-01-05 02:42] aaronespasa commented on #25
@raedle The PR #24 does not solve this issue. The issue that is reported here is related with the installation of the Android Emulator (from Android Studio) and the PR focuses on solving a problem with the creation of the AVD. They are only related in the sense that the AVD will use the Android Emulator.

[2022-01-05 09:35] Sxela commented on #23
I suppose you can just use normalization stats from the packer settings, and fall back to autodetection if none were provided.

[2022-01-05 16:03] tzpr opened #29 "torchlive-cli setup-dev script fails to install openjdk@8 ("openjdk@8: no bottle available!")"
### Version

0.1.2

### Problem Area

CLI

### Steps to Reproduce

1. Open terminal in macOS (OS version 12.1, M1 chip)
2. Run command: _npx torchlive-cli setup-dev_
3. Script fails in the OpenJDK installation step: "Error: openjdk@8: no bottle available!"

### Expected Results

Expected the JavaSDK installation to succeed.

What is a working way to install the Java SDK?
Would it be possible to us

[2022-01-05 18:02] aaronespasa commented on #29
Hi @tzpr , thanks for reporting the issue!

Currently, PyTorch Live does not work with a version of OpenJDK greater than the version 8. However, the version 8 of the Java Platform has not been built natively for Apple Silicon.

I recommend you to **execute the terminal using Rosetta**:
    - Go to the Applications folder, do right click on the Terminal app and select *Get Info*.
    - Click on the

[2022-01-05 18:32] aaronespasa commented on #29
@tzpr If this is the first time that you're installing PyTorch Live using the M1 Chip, I recommend you to install first these dependencies (before executing the `npx torchlive-cli setup-dev` command) executing all the commands with a Terminal that uses Rosetta:

- The **version 3.9.5 of Python** and the command `python3 -V` must output the version 3.9.5. The command `python3` is used to install th

[2022-01-05 23:30] liuyinglao commented on #19
Hi @ademirmochi
To your questions

So far YOLO is not supported by react-native-pytorch-core package. We are currently working on a Data Processing API to make the data preprocessing/postprocessing more flexible for users.

May I ask how you are configuring the camera? Though the main support would still focus on Mac OS, we are trying to gain more experience on PTL with Windows (and your experienc

[2022-01-06 00:24] ademirmochi commented on #19
So, first a update, i've started using a mac to eliminate any problems with the SO, next, about the last question, i simply messed with the targetResolution parameter in the Camera component, to 640/640, but on metro server console.log it appeared as 1024/768, just that, nothing more.

But from my understanding, Yolo is not  supported, but i've tried to change the input of the image, to change the

[2022-01-06 04:33] raedle commented on #29
@aaronespasa, thanks a bunch for chiming in and helping out with steps and the PR #24

@tzpr, we merged PR #24. The updates are available in the nightly build of the PyTorch Live CLI. You can use the nightly by adding `@nightly` after the `torchlive-cli`. For example, the `setup-dev` command using the nightly looks as follows:

[code]

I don't have an M1 device at hand, so I haven't tested the nig

[2022-01-06 18:55] tzpr commented on #29
Hi @aaronespasa, thank you for the information and help!
I just got the PyTorch Live example project (MyFirstProject) running on my Android 10 phone (rather old Nokia 6.1).

The key thing was that I started running the terminal with Rosetta. I also realized that I needed to install Homebrew using Rosetta because it installs in different location than the M1 version that I already had.
I went throu

[2022-01-06 19:20] liuyinglao commented on #19
Hi @ademirmochi congrat for your new mac (but pls let us know if you still need support for windows!)

for the set resolution, that's expected. As mentioned in (https://pytorch.org/live/docs/api/core/interfaces/cameraview.cameraprops/#targetresolution)

Android implementation are based on CameraX, and iOS's implementation are here (https://github.com/pytorch/live/blob/main/react-native-pytorch-cor

[2022-01-07 07:02] #29 closed

[2022-01-07 15:23] Sxela opened #30 "add fromNativeJSRef method to ImageUtil"
### Area Select

react-native-pytorch-core (core package)

### Description

I've played around with Image2Image models, and I had to add the `fromNativeJSRef` method to `ImageUtil`, in order to wrap my inference result, as my model returned a NativeJSRef object.
Trying to import `wrapRef` directly into my app.ts file resulted in import errors, which the typescript transpiler doesn't catch.

Maybe

[2022-01-08 01:07] raedle commented on #30
Thanks for submitting PR #31, @Sxela. We've merged it, so I am closing this issue

[2022-01-08 01:07] #30 closed

[2022-01-09 21:07] Sargnec opened #32 "Problems in make_models.py"
### Version

    "react-native-pytorch-core": "0.1.2",

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

npx torchlive-cli init MyFirstProject

### Expected Results

Create a project without an error

### Code example, screenshot, or link to repository

I get this error when I create new project.

    ‎ ‎ ‎ ‎
    Downloading: "https://download.pytorch.org/models/

[2022-01-10 00:31] aaronespasa commented on #32
Hi @Sargnec ,

The error is due because you didn't install the certificates for Python after installing it locally (its post-installation). You can read more about it in the next link: [urllib and "SSL: CERTIFICATE_VERIFY_FAILED" Error](https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error).

I recommend you to install [Python 3.9.5](https://www.python.org/dow

[2022-01-10 03:21] dongdv95 opened #33 "How to detect objects Real Time"
### Description

Pytorch is amazing,thank you for the work you are doing.
I'm trying Object detection example from tutorial , Can you give an example of real time use "onFrame" of CAMERA?

### Website

https://pytorch.org/live/docs/tutorials/get-started/

[2022-01-10 07:20] dongdv95 commented on #10
Hi @Aisenapio , have you created Live Specs of yolov5 ? or an example of unpuck type tuple.

[2022-01-10 10:51] aaronespasa commented on #33
Hey @dongdv95,

Take a look at the following example: [ObjectDetectionExample.tsx](https://github.com/pytorch/live/blob/main/react-native-template-pytorch-live/template/src/examples/ObjectDetectionExample.tsx). In this example, you can learn how to perform object detection with [DETR](https://github.com/facebookresearch/detr). The problem is that it's a transformer so it's not meant to work on rea

[2022-01-10 17:17] ademirmochi commented on #19
First of all, thanks for the reply, I'll try to make it work as soon as I can, but right now I'm working on an emergency in another project, when I manage to work this out, I'll reply.

[2022-01-10 23:14] Sargnec commented on #32
I did try both 3.9.5 and 3.9.4 and when I click on Install certificate it gives this

Btw I'm on macos m1

[2022-01-10 23:24] aaronespasa commented on #32
What's the output of the terminal when you write `which python` ?

At first it seems that your Python installation is broken (the default Python 2.7 installation that comes with your Mac).
You can try install Python using [Homebrew](https://brew.sh/): `brew install python`.

Then, make sure `/usr/local/bin` is added to PATH. You can add it manually with the command `export PATH=$PATH:/usr/local/bi

[2022-01-10 23:38] Sargnec commented on #32
<img width="503" alt="Screen Shot 2022-01-11 at 02 34 57" src="https://user-images.githubusercontent.com/49839699/148855347-0a547505-b422-4929-9c5b-e5b575bfc31a.png">

Do I remove existing python and link python@3.9? @aaronespasa
And thank you for your help

[2022-01-11 00:21] aaronespasa commented on #32
@Sargnec  Do not remove the existing python. Link python@3.9 with the command `brew link --overwrite --dry-run python@3.9` to avoid having the symlink error (`--dry-run` will let you know which files will be removed). You can find more about this issue in StackOverflow: [How to symlink python in Homebrew?](https://stackoverflow.com/questions/13354207/how-to-symlink-python-in-homebrew).

Then, try

[2022-01-11 10:09] dongdv95 commented on #33
Thanks for ans

[2022-01-11 17:18] clarksandholtz commented on #33
@dongdv95 when do you get this error? When trying to run the model in a PyTorch Live app?

[2022-01-12 07:52] dongdv95 commented on #33
Hi @clarksandholtz, When I make model  (model = torchvision.models.detection.fasterrcnn_resnet50_fpn(pretrained=True)) , I get this error , I'm not sure my  live.spec.json is correct.

[2022-01-12 22:26] clarksandholtz commented on #33
@dongdv95 if this is happening when you are making the model in Python, then the `live.spec.json` isn't being used at all. The `live.spec.json` is only used by PyTorch Live in mobile apps. If you remove all of the code that references the `live.spec.json` you still get the same error.

Looks like there is an issue with the tracing, but I'm not sure what it is.

[2022-01-12 23:31] liuyinglao commented on #32
Hi @Sargnec

Thanks for using Pytorch Live!  As @aaronespasa mentioned, this seems to be python version issue and his suggestion seems mostly right! And after you configure the python version correctly on you machine, here are the steps you may want to rerun within your project to re-create the ptl files:

https://github.com/pytorch/live/blob/main/react-native-template-pytorch-live/script.js#L20-L

[2022-01-13 02:00] dongdv95 commented on #33
Thanks @clarksandholtz , I test with another model
( torchvision.models.detection.ssd300_vgg16(pretrained=True) ) and
(FasterRCNN(backbone= torchvision.models.mobilenet_v2(pretrained=True).features)), I make model success
but when run inference on Android with error
[code]
I’m grateful for your assistance

[2022-01-13 09:02] JohnZcp opened #34 "Error with pod install"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I got this problem with install the library in my project. CocoaPods couldn't find compatible versions for react-native-pytroch-core. I ran the "npm install react-native-pytorch-core" and "pod install", and received the following error message:
[!] CocoaPods could not find compatible ver

[2022-01-13 18:18] liuyinglao commented on #34
Hi @JohnZcp

May I ask what is the ios version number of your app? (you may find it in your podfile under the ios dir like https://github.com/pytorch/live/blob/main/react-native-pytorch-core/example/ios/Podfile#L4)

To use the package, you need to be at least 12.0.

[2022-01-15 00:03] Sargnec commented on #32
Thank you @aaronespasa @liuyinglao. At first try nothing changed it was giving me same errors

but today I tried again and I was able to install certificates and right now ImageClassificationTutorial app is working for me.

[2022-01-15 00:03] #32 closed

[2022-01-20 04:10] JohnZcp opened #35 "Error: Unable to resolve module ../models/mobilenet_v3_small.ptl from /Users/ziyuanzhou/Desktop/signdectection/signdetection/src/screens/CameraScreenTest.js:"
### Version

0.1.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I followed the tutorial of preparing custom model, and received this error message while executing. The full message is like this:
Error: Unable to resolve module ../models/mobilenet_v3_small.ptl from /Users/ziyuanzhou/Desktop/signdectection/signdetection/src/screens/CameraScreenTest.js:

None o

[2022-01-20 04:33] chrisklaiber commented on #35
Hi @JohnZcp - I'd first ensure the model file exists and is non-zero, and second that the relative `require()` path is correct. These are the two things that usually trip me up here.

Given that you're loading `require('../models/mobilenet_v3_small.ptl');` from within `/Users/ziyuanzhou/Desktop/signdectection/signdetection/src/screens/CameraScreenTest.js` I would expect it to resolve to `/Users/zi

[2022-01-20 06:25] JohnZcp commented on #35
models/ and screens/ are at the same level, they are in the src/. I tried to enter the path layer by layer, and it seems like my project just doesn't recognize this .ptl type file.
![Screen Shot 2022-01-19 at 10 21 53 PM](https://user-images.githubusercontent.com/91770064/150284924-c2063ad4-cf47-490d-b72f-b0d6c585c77e.png)

[2022-01-20 21:09] chrisklaiber commented on #35
I don't know what backs the autocomplete in your editor, but the asset loading is handled by Metro, and that is driven by the `metro.config.js` at the project root. To support the model files, the `.ptl` extension is added to `resolver.assetExts`.

From your error message, it almost seems like Metro is trying a regex (for the given extensions) and that `.ptl` is not present. I don't know why that

[2022-01-20 22:22] JohnZcp commented on #35
Thanks for your help. I just figure out the problem. All I need is to do is adding the .ptl extension in sourceExts in metro.config.js, and be sure the model file is placed under src/ .

[2022-01-21 01:27] chrisklaiber commented on #35
I'm glad to hear that you found a solution, @JohnZcp!

One more thing you might want to check is to ensure that this works in the release build. Metro handles file loading differently in dev mode and release mode, and it may have an impact on your approach here.

For example, if you normally build in dev mode with `yarn android`, try out release mode with `yarn android --variant=release`.

[2022-01-23 16:50] thePegasusai opened #36 "error during cli setup"
### Version

_No response_

### Problem Area

CLI

### Steps to Reproduce

 Error project "MyFirstProject" is created but we ran into the following i…
    ‎ ‎ ‎ ‎
    ERROR: Could not find a version that satisfies the requirement torch==1.1…
    ERROR: No matching distribution found for torch==1.10.0
    ‎ ‎ ‎ ‎
    please rerun
    ‎ ‎ ‎ ‎ • "python make_models.py" in the MyFirstProject/models/ d

[2022-01-23 18:27] aaronespasa commented on #36
Hi @thePegasusai ,

Could you share what's the output when you execute on terminal the command `python3 -V`?

[2022-01-23 18:34] thePegasusai commented on #36
@aaronespasa imanjefferson@Imans-Air ~ % python3 - v
Python 3.9.9 (v3.9.9:ccb0e6a345, Nov 15 2021, 13:06:05)
[Clang 13.0.0 (clang-1300.0.29.3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[2022-01-24 19:13] liuyinglao commented on #19
@ademirmochi I will close the issue for now. But feel free to re-open it / create another issue once you are back with us!

[2022-01-24 19:13] #19 closed

[2022-01-25 07:21] awcchungster opened #37 "Model Spec for MobileNet Classes"
### Tutorial Select

Prepare Custom Model

### Feedback

If we follow the tutorial verbatim and take the MobilenetV3 images directly from pretrained, how do we get the MobileModel function to return the top 5 classes and confidence scores?

https://pytorch.org/live/docs/api/model-spec/

[2022-01-25 07:32] awcchungster opened #38 "Image Size Error"
### Version

    "react-native-pytorch-core": "^0.1.3"

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

const image = await ImageUtil.fromBundle(require('./models/90uwPhoto.jpg'));
    const result = await MobileModel.execute(model, {
      image,
    });
    console.log('Model Results: ' + JSON.stringify(result));

### Expected Results

Loads image without erro

[2022-01-25 07:33] awcchungster commented on #38
Error:

[code]

[2022-01-26 00:21] raedle commented on #37
Thanks for reaching out @awcchungster. PyTorch Live currently has a limited set of ops that are supported in the processing specification, and it doesn't support `topk`. It is possible to add additional ops to the PyTorch Live model specification. Besides `topk`, are there any other ops that you are considering to use?

Also, we will add functionality to PyTorch Live that will eventually remove th

[2022-01-26 00:23] raedle commented on #38
Thanks for reporting this issue, @awcchungster! We'll be looking into it!

[2022-01-26 00:25] awcchungster commented on #37
Hi @raedle! Thanks for responding timely manner. I found a bounding box example for mobilenet that I plan on testing next. After that I plan to do a segmentation model.

Are there examples of how to take a mobile net segmentation model results and apply it to PTL?

[2022-01-26 00:28] awcchungster commented on #37
Also, the APIs change a little too frequently. I understand this is all pre v1, so at a minimum putting this into a change log seems like a reasonable request.

I ran into a number of occurrences. For example, the [NPM documentation](https://www.npmjs.com/package/react-native-pytorch-core) didn't work. I had to dig through the Github to understand the class name changes that were done.

[2022-01-26 01:58] raedle commented on #36
@thePegasusai, can you help us narrow down the root cause? Please verify that the Python environment is able to install all dependencies and export (i.e., make) the models! The following steps must succeed, and if they don't, please report the error message:

Navigate to the models directory of your initialized PyTorch Live project:
[code]

Set up a Python3 virtual environment:
[code]

Activate th

[2022-01-26 02:24] thePegasusai commented on #36
(venv) imanjeffersonImans-Air models % pip install -r requirements.txt
ERROR: Could not find a version that satisfies the requirement torch==1.10.0 (from versions: none)
ERROR: No matching distribution found for torch==1.10.0

[2022-01-26 07:05] rmadhira86 opened #39 "First Project fails on Windows"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I am trying to install PyTorchLive on Windows 10 machine.
1. Already have Python installed.
2. I followed steps in https://pytorch.org/live/docs/tutorials/get-started-manually/ to install reactnative development environment
3. Am able to successfully run the react-native sample applicati

[2022-01-28 16:38] raedle commented on #39
@rmadhira86, I don't have Windows 10 but tested it on Windows 11 and it successfully passed the `init`:

<img width="920" alt="Screen Shot 2022-01-28 at 8 28 50 AM" src="https://user-images.githubusercontent.com/489051/151584823-6f7f6aa9-9e39-49ce-8787-022aedf9ac2e.png">

Looking at the error message, it seems to be an issue with `yarn` not being able to resolve peer dependencies. **What does the

[2022-01-29 18:03] yMayanand opened #40 "app crashes on android"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I am trying to run Image Classification model on Android. I had followed manual instructions for setup on linux machine. Everything is fine till the last step of installation and app gets succesfully installed on my android phone running android v9(Pie). But app crashes as soon as it is

[2022-01-31 23:54] chrisklaiber commented on #40
Hi @yMayanand,

Would you please attach a crash log from the Metro logs and from `adb logcat`? I expect this would contain a stack trace and help to pinpoint the root issue.

Thanks!

[2022-01-31 23:54] #35 closed

[2022-02-03 04:35] JohnZcp opened #41 "Error: Could not convert downloaded file into Torch Module"
### Version

0.1.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I am trying to run my custom model in my project, and the model file couldn't convert into Torch Module. I used and modified the export.py from the Yolo_v5 GitHub, to convert my model file type from .pt to .ptl. So far, I didn't found too much info about this error. I checked the model.live.spec

[2022-02-06 04:55] JohnZcp commented on #41
Currently, I am trying to write the spec.json for yolo_v5. The result i can obtain from my model is an object. I wonder does the pytorch live accept this kind of value from the model?

[2022-02-07 01:34] #41 closed

[2022-02-07 01:42] JohnZcp opened #42 "Question: Does the 'unpack' accept the object types in spec.json"
### Tutorial Select

Prepare Custom Model

### Feedback

I am trying to write the spec.json for yolo_v5. The output of the model is "models.common.Detections" object, and I didn't see this type of output mentioned in the tutorial. Currently, it seems like I have to let my project able to obtain the object type of prediction result first, then trying to access the specific data (like bounding box)

[2022-02-07 04:24] JohnZcp commented on #10
Hello, I am also trying to create the spec.json for yolo_v5. How is your progress? @bairock

[2022-02-07 05:29] bairock commented on #10
hachiko mode

[2022-02-08 00:51] JohnZcp commented on #10
Do you have any idea about the unpack? Currently, I guess the output type should be set as object "models.common.Detections". About I don't think torch live recognizes this type as output according to tutorial.

[2022-02-09 09:56] JohnZcp commented on #26
So instead of using tuple and list, how can construct my "unpack" part for the tuple of the lists?

[2022-02-10 20:50] OptimusLime opened #43 "Image unwrap issue leading to Pytorch Live demo not working on iPad Pro"
### Version

main

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. Deploy demo to iPad.
2. Run any example with images (for example: run Photo Example, and click on any image like Panda).

React native will say "unhandled exception."

### Expected Results

Unwrap should not cause any issues for iPad version.

### Code example, screenshot, or link to repositor

[2022-02-10 20:58] OptimusLime commented on #43
The stack dump when the issue occurs:

`0x0000000103e6b04c $s25react_native_pytorch_core21TensorFromImagePackerC4pack9modelSpec6params13packerContextSo9PTMIValueCSg10SwiftyJSON0Q0V_So12NSDictionaryCAA0hN0CtKF + 2688
1   plive_demo
0x0000000103e6c0b0 $s25react_native_pytorch_core21TensorFromImagePackerCAA0H0A2aDP4pack9modelSpec6params13packerContextSo9PTMIValueCSg10SwiftyJSON0Q0V_So12NSDictionaryCA

[2022-02-11 06:57] raedle commented on #43
Thanks for reaching out, @OptimusLime!

I tested PyTorch Live v0.1.3 on an iPad Pro (12.9-inch) with iOS 14.6. Both debug and release work.

Thanks for offering to debug. Let me put together instructions. Alternatively, we could also do a VC on the PyTorch Live Discord, and we debug together. Let me know what works best for you :)

![IMG_1768](https://user-images.githubusercontent.com/489051/15354

[2022-02-11 07:05] raedle commented on #42
@JohnZcp, the YOLOv5 model is not supported out of the box. IIRC, there is 1 additional native data processing step missing at the moment. Let me know if you are interested in adding the step, and we can help/advice!

[2022-02-11 07:18] raedle commented on #40
@yMayanand, PyTorch Live supports Android 10+ (see [README](https://github.com/pytorch/live/blob/main/README.md))

It seems that the shared libraries for PyTorch Android (`libpytorch_jni_lite`) are missing. Can you check if the `*.so` are in the `app-debug.apk`?

* Go to `cd <PROJECT>/android/app/build/outputs/apk/debug`
* `unzip app-debug.apk`
* Check if the lib folder for your device's architect

[2022-02-11 09:06] yMayanand commented on #40
@raedle My phones architecture is ```arm64-v8a``` and i had checked the folder
```<PROJECT>/android/app/build/outputs/apk/debug/lib/arm64-v8a``` for ```*.so``` files. It has all the  ```*.so``` files and i  also looked for ```libpytorch_jni_lite``` file it had that too.

[2022-02-11 13:21] JohnZcp commented on #42
I checked the output through Colab. At this moment, the prediction result I got from the ptl file is a tuple of list of tensor (Tensor,[Tensor, Tensor, Tensor]). Generally, the prediction result of yolo_v5 is a object (before I convert the model to ScriptModule). The object should able to return the following info - xmin, ymin, xmax, ymax, confidence, class, name, by using method object.xyxy(0). I

[2022-02-11 16:44] liuyinglao commented on #43
Hi @OptimusLime, thanks for providing the report! I couldn't tell what's going wrong from the error message -- but I guess this could be Xcode version issue -- may I ask what is the Xcode version on your dev machine? Thanks!

[2022-02-12 07:58] azhugreat commented on #18
@raedle  I have faced this problem myself, and I have generated these files.
The following are the generated files:
![image](https://user-images.githubusercontent.com/50580109/153702331-940cb3fc-7aa7-42af-9208-38e610755ddb.png)

The file size are 353MB, so I wonder whether I should upload them to you there.

[2022-02-13 02:20] pot2mayo commented on #39
Quick update, after updating the `masked-view` package to 0.1.11 this error disappear but another incompatibility comes up with the `ts-jest` and `jest` packages.

[2022-02-14 21:25] OptimusLime commented on #43
@liuyinglao Xcode 13.2.1 which I believe is the latest as of writing this comment (I'm on OSX Monterey 12.2).

The solution, as I described in the Slack chat was to update the software on my iPad to the latest.

I cannot debug this anymore since the iPad software was updated and the examples run, so I think it's fine to close this for now.

[2022-02-14 22:09] raedle commented on #43
From the `#pytorch-live` channel in the PyTorch Slack:

Closing this task. Please reopen if anyone has similar issues!

[2022-02-14 22:09] #43 closed

[2022-02-15 06:56] JohnZcp commented on #42
@raedle Can you explain more about the native data processing step you mentioned above?

[2022-02-16 01:44] raedle commented on #42
@JohnZcp, the `pack` and `unpack` data processing steps are in the following folders:

## Android

* [Packer implementations on Android](https://github.com/pytorch/live/tree/main/react-native-pytorch-core/android/src/main/java/org/pytorch/rn/core/ml/processing/packer)
* [Unpacker implementations on Android](https://github.com/pytorch/live/tree/main/react-native-pytorch-core/android/src/main/java/o

[2022-02-17 18:34] kyleliang919 opened #44 "Is there a way to support custom tokenizer?"
### Area Select

react-native-pytorch-core (core package)

### Description

The current tokenizers only support Bert and GPT-2. But if we want to run other language models, for instance RoberTa, we won't be able to import the RoberTa tokenizer given the current setup.

[2022-02-18 09:48] anthonyweidai opened #45 "Unexpected token ="
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

torch live didn't work at all.
I tried `npx torchlive-cli setup-dev`, and nothing happened.

[code]

Next, I used `npx torchlive-cli init MyFirstProject`. New errors showed up:

[code]

Then I tried `npx react-native init MyFirstProject --template react-native-template-pytorch-live`. Errors **Un

[2022-02-18 10:21] #45 closed

[2022-02-20 04:23] anthonyweidai commented on #39
So, how do you update these package in reactive native?

[2022-02-20 05:31] pot2mayo commented on #39
@anthonyweidai
I updated the `masked-view` version in `package.json` but for the `jest` issue I haven't found any package not generating an error so I just went with the `npm install --force` option for now.

[2022-02-20 13:31] anthonyweidai opened #46 "Auto close with white screen on android"
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

No bug shows up by following manual set up tutorial. But when I open the app, **the app close itself** with an instant white screen.
Two tutorial get the same result.
https://pytorch.org/live/docs/tutorials/get-started-manually/
https://pytorch.org/live/docs/tutorials/image-classification/

I th

[2022-02-23 00:47] luzianl commented on #39
I had the same issue on Windows 10 while following the Get Started Manually tutorial. For me the cause was that I did not have yarn installed. Use `choco install yarn` to install it.
As a complete novice I had to overcome several difficulties to make the PyTorch Live app work via Windows 10 on a Pocophone F1 with Android 10. Tell me if you encounter any more issues, maybe I can help. :smile:

[2022-02-24 05:56] JohnZcp commented on #42
@raedle Yes. And I wonder what should I do if I want to design a unpacker for yolo_v5. I want to have a try, but not sure how.

[2022-02-26 05:47] abebe9849 opened #47 "UnhandledPromiseRejection @ npx torchlive-cli run-android in "get started""
### Tutorial Select

Get Started

### Feedback

when I run these,I got an error

[code]
and

[code]

[2022-02-26 12:28] SomaKishimoto opened #48 "Is initial maxIndex = -1 in BoundingBoxesUnpacker.swift right? then, I'd like to know the reason."
### Version

0.1.3, and also latest commits

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

 1. create object detection model .ptl file
 2. put the model file at src/app/models/<ptl> and input the ModelInfo in models/index.tsx
 3. build and run the project
 4. Fatal error: Index out of range happens

I'm enjoying to do real-time object detection on ios device b

[2022-03-08 13:33] Le0v1n opened #49 "How to use it in 3D-CNN?"
### Area Select

Other

### Description

Thanks for ur contributions and I have some questions about this project:

Q1: Does it works in `3D-CNN`?

Q2: Is there a demo for 3D-CNN?

Q3: Does it limit temporal if I use my model (My model needs tensor like [1, 3, 16, 112, 112])

I will appreciate it that you can reply me ^_^

[2022-03-11 22:41] liuyinglao commented on #48
@SomaKishimoto good catch! This is definitely a bug. I will fix it and thanks for reporting!

[2022-03-11 22:59] liuyinglao commented on #47
Hi @abebe9849 Thanks for reporting!

could you try to update the NDK version on your macbook to see if that would fix? here is the link if you are using Android Studio: https://developer.android.com/studio/projects/install-ndk#specific-version

Thanks!

[2022-03-11 23:25] liuyinglao commented on #48
@SomaKishimoto Fix is pushed and I will close the issue for now. Feel free to reopen or create new one if you are seeing other issue!

[2022-03-11 23:25] #48 closed

[2022-03-11 23:41] liuyinglao commented on #46
Hi @anthonyweidai thanks for reporting and sorry about the issue!

For now the react-native-pytorch-core package is only fully tested/supported on Mac OS. We would like to support Ubuntu in the future once we have more bandwidth, but for now we may have to rely on the community for this support.

With that said, running the app with Android Studio may log more useful debug info if you have one ins

[2022-03-15 03:17] SomaKishimoto opened #50 "react-native-pytorch-core:externalNativeBuildDebug failed on android build above React-Native 66"
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. `npx react-native init AwesomeTSProject --template react-native-template-typescript`
`cd AwesomeTSProject`
`yarn add react-native-pytorch-core`

2. [follow tutorial](https://pytorch.org/live/docs/tutorials/add-package/#additional-steps-on-android)

3. `cd android && ./gradlew assembleDebug`

[2022-03-18 18:55] raedle commented on #49
Hi @Le0v1n,

It can explain your questions more easily if I answer them in a different order than you asked.

There are no demos or examples for 3D ConvNet in PyTorch Live at the moment.

If you have a "torchsciptable" model that runs with the PyTorch Mobile [Lite Interpreter](https://pytorch.org/tutorials/prototype/lite_interpreter.html) runtime, then it is very likely that it works with PyTorch

[2022-03-18 19:13] raedle commented on #44
Hi @kyleliang919, adding custom tokenizers is limited in `react-native-pytorch-core@0.1.x`, but will eventually become easier with a next minor release (v0.2.x).

Does the tokenizer exist in C++?

If not, you can add custom tokenizer to your app project following these steps:

1. Add custom tokenizer to the app project similar to [`BertTokenizer`](https://github.com/pytorch/live/blob/main/react-na

[2022-03-18 19:17] raedle commented on #42
@JohnZcp, do you have a torchscripted YOLOv5 model that runs in the lite interpreter runtime, and can you share the model with me with example input/output processing?

Feel free to DM me on the [PyTorch Live Discord channel](https://discord.gg/sQkXTqEt33) to work out a solution for YOLOv5

[2022-03-18 19:24] raedle commented on #46
Hi @anthonyweidai, thanks for your report!

If the React Native tutorial works with your devices, then the PyTorch Live tutorials should work as well.

* Can you provide more information on the physical device (i.e., model, OS, OS version)?
* Does the app build and install correctly on the physical device, but crash when the app is opened?
* Can you install and open [Flipper](https://fbflipper.com

[2022-03-18 19:29] raedle commented on #40
@yMayanand, does the app also crash on a device Android 10.0+ (API 21+)? If yes, would you be able to share the project in a repo?

[2022-03-18 19:42] raedle commented on #39
Thanks for providing a solution, @pot2mayo!

Do you want to submit a PR that updates the `masked-view` version for the template?

PS: PyTorch Live uses `yarn`, which means versions are locked in the `yarn.lock` file

[2022-03-20 10:45] pot2mayo commented on #39
@raedle
My solution is not good enough for a PR since it still require to use the `force` mode for installing packages.
Ideally we'd like a versioning that is compatible across all packages without forcing.

[2022-03-23 23:38] jslok opened #51 "Cannot run the example template"
### Version

0.1.3

### Problem Area

Pytorch Live Template

### Steps to Reproduce

I downloaded the example app with `npx react-native init pytorchlive --template react-native-template-pytorch-live`

When trying to run on my android device, I was getting errors saying it could not find the ptl files. After some research, I need to run models\make_models.py? Then I get this error:

`
C:\Users\jsl

[2022-03-24 00:11] jslok commented on #10
Any progress on exporting yolov5 to .ptl?

[2022-03-24 05:14] zhiqwang commented on #10
Just FYI,

The official torchscript exported by yolov5 only contains the general model inferencing part, one must implement the pre-preprocess (`letterbox`) and post-proprocess (mainly the `nms` op) if they want to deploy this torchscript.

We did some experiments on [yolort](https://zhiqwang.com/yolov5-rt-stack/notebooks/inference-pytorch-export-libtorch.html) to embed the pre-processing and post

[2022-03-24 05:45] raedle commented on #10
We can take a look, but would need a working torchscript-ed model.

Does anyone have a working torchscript-ed version of a YOLOv5 model that accepts an image tensor as input and can share it here for download?

[2022-03-24 07:47] zhiqwang commented on #10
Hi @raedle , I export a YOLOv5 torchscript model that accepts an image tensor as the input with yolort, and I upload the torchscript and optimized model at

- https://huggingface.co/spaces/zhiqwang/assets/blob/main/yolov5s_scripted.pt
- https://huggingface.co/spaces/zhiqwang/assets/blob/main/yolov5s_scriptmodule.ptl

I only embed the post-processing (`nms`) into the torchscript graph, and the mode

[2022-03-24 18:47] t4rf9 commented on #51
Same problem met

[2022-03-24 21:03] liuyinglao commented on #50
@SomaKishimoto we have pushed a fix for the RN 0.64+ and please let us know if you have other questions/comments!

[2022-03-24 21:03] #50 closed

[2022-03-25 06:18] raedle commented on #10
Thanks for sharing the inference code, @zhiqwang! That was incredibly helpful!

Here is a screencast of an early working version. I will need to finalize the changes and then make it available for everyone as soon as possible.

Thanks again for the model and the example!

https://user-images.githubusercontent.com/489051/160065259-dbe5abca-750f-43c7-8d09-5933cdb87e87.mp4

[2022-03-25 07:31] zhiqwang commented on #10
Hi @raedle , It would be my pleasure and I can add a more detailed scripts for exporting the torchscript-ed module of YOLOv5 if you need it.

[2022-03-28 05:48] mrcwbr opened #52 "Speech-To-Text Demo"
### Area Select

Website/Documentation

### Description

Hey I'm trying to use PyTorch live for a Speech-To-Text feature. It would be great if there were a tutorial for this use case.

I read the documentation for the [audio module](https://pytorch.org/live/docs/api/core/modules/audio_audiomodule/). but I thing the documentation isn't up to date. the module provides only a `record` function in ver

[2022-03-28 12:13] t4rf9 opened #53 "Cannot run tutorial project in Get Started Manually on Windows"
### Version

0.13.0

### Problem Area

Website/Documentation

### Steps to Reproduce

First, try to run the project on an Android device:
1. `npx react-native init MyFirstProject --template react-native-template-pytorch-live`
2. `cd MyFirstProject`
3. `npx react-native run-android`
Then I find the app installed successfully on the device, but fails while bundling.
The output goes like: (the follow

[2022-03-28 13:00] t4rf9 commented on #53
I solved this problem by executing `export_image_segmentation_models()` with wsl-ubuntu python3.8.12,
torch==1.10.2, torchvision==0.11.3, torchaudio==0.10.2, transformers==4.6.1, scipy==1.8.0.
However, my windows python3.10.4 still fails.

[2022-03-29 10:57] akashraj9828 commented on #40
@raedle  I am running on Android 11 and it crashes for me as well...

![image](https://user-images.githubusercontent.com/29796785/160596588-20588ac6-1347-4f62-928c-235516853a93.png)

Here's the logcat of crash

[code]

Just to be sure i confirmed if i have `libpytorch_jni_lite.so` file bundled
and it is present in the installed app

![image](https://user-images.githubusercontent.com/29796785/16059

[2022-03-31 08:31] JonathanSum opened #54 "For pyrorch live react live, how does it work? Does it use torch script or ONNX?"
### Tutorial Select

Server Model

### Feedback

Thank you for answering.
I am planning to use a custom model, such as a model that is created by me or others. Is it possible?

Besides the question, I guess the tutorial should explain more about that.

[2022-04-01 18:22] jeffxtang commented on #52
Thanks for your kind note on the Android demo tutorial - glad you found it helpful :)

After you run:
[code]
Do you not see the Wav2Vec2 example?

<img width="735" alt="image" src="https://user-images.githubusercontent.com/535090/161319784-7c89fba5-8667-4ae6-9c13-fc27221049f9.png">

<img width="727" alt="image" src="https://user-images.githubusercontent.com/535090/161320085-58ab4626-e6ae-4989-b43b

[2022-04-02 06:48] Razamalik4497 opened #55 "Semantic Segmentation on RTX 3060ti is very slow"
### Description

I'm using RTX 3060ti for semantic Segmentation , it takes long time to segment out object ( inference on video)
2 minutes video covering in 10 minutes.

How can I speed up my model ?

### Images

![image](https://user-images.githubusercontent.com/49755089/161370848-f777fc68-2b33-4c20-a2ba-30d46d2f3d94.png)

### Website

https://github.com/maudzung/TTNet-Real-time-Analysis-System-f

[2022-04-02 12:17] JonathanSum commented on #53
But we will have another problems. For example the tutorials uses other models, such as bert_qa.ptl. We can't find it in the internet and do not know how to connect it.

[2022-04-02 15:05] #54 closed

[2022-04-02 16:47] raedle commented on #55
Hi @Razamalik4497, on what platform are running inference?

[2022-04-05 10:37] limzh123 commented on #10
Hi, do anyone know how to deploy a custom model into PyTorch live? I am encountering some bugs.

[2022-04-05 22:17] JohnZcp commented on #10
@raedle I also used the yolot generate the .ptl file for yolov5, but received the error "Could not convert downloaded file into Torch Module". I compared my model to the example of MobileNetV3, and they are all RecursiveScriptModule. Since yolot and yolov5 have the same model structure, I am not sure the reason for this error. I checked the code of the package, and it said "TorchModule.load will s

[2022-04-05 22:31] zhiqwang commented on #10
Hi @JohnZcp ,

May I ask do you use the yolort model with the pre-processing (`letterbox`) part? I also encountered some problems when including pre-processing, I'm not quite sure why this is happening, but as above when exporting only yolov5 with post-processing (`nms`), everything is fine.

[code]

[2022-04-05 23:34] JohnZcp commented on #10
@zhiqwang Yes. And I think we still need to provide the live.spec.json as the extra file for generating ptl version. But, I don't think missing this json file will cause the error I mentioned above. It only effects library's data processing for input and output.

[2022-04-07 13:35] JonathanSum opened #56 "Unhandled Promise Rejection from the tutorial"
### Tutorial Select

Question Answering

### Feedback

Source Text:
I ordered a big Mac, French fries, and soda at McDonald's with order number 261 and sit at table 20. I made that order at 3 p.m.

Question:
What did I order?

LOG  Running "MyFirstProject" with {"rootTag":1}
 WARN  Possible Unhandled Promise Rejection (id: 0):
Error: 32 > 26
Error: 32 > 26
    at promiseMethodWrapper (http://local

[2022-04-07 14:10] JonathanSum commented on #44
@[raedle](https://github.com/raedle)

When will the 0.2.x be released so we can run any kind of language mode?

[2022-04-10 05:29] raedle commented on #54
@JonathanSum, PyTorch Live uses the PyTorch Mobile runtime and can run TorchScript models (assuming the model uses operators available in the standard PyTorch Mobile runtime).

The documentation has a [tutorial for how to prepare a custom model](https://pytorch.org/live/docs/tutorials/prepare-custom-model/). It requires adding a "live spec" JSON to the model's extra files.

FWIW, there will be an

[2022-04-10 05:36] raedle commented on #56
@JonathanSum, can you provide information on the device, device OS, and the model that produce this error?

Does this happen just by following the PyTorch Live Question Answering tutorial?

I did a quick test with the Distilbert Q&A model that is used in the Question Answering tutorial (see screenshot).

![image](https://user-images.githubusercontent.com/489051/162602999-653c07e1-b20d-403e-a032-f0

[2022-04-10 05:40] raedle commented on #44
@JonathanSum, we don't have a date yet for the release, but you can reach out to me if you want to participate in testing the next version

[2022-04-10 10:48] yMayanand commented on #40
I have tried first option but the problem was not solved, i am eagerly waiting for next version
so that problem would get solved implicitly.

[2022-04-10 20:30] JonathanSum commented on #56
![image](https://user-images.githubusercontent.com/21982975/162638508-0f431adb-6720-4091-bee4-7415378cc0ce.png)
My device is oneplus7. OS is window 10. What is your testing device?

[2022-04-10 20:51] JonathanSum commented on #56
Uploading 22-04-10-13-48-49.mp4…

[2022-04-10 20:54] JonathanSum commented on #56
Phone information
![Uploading Screenshot_20220410-135349.jpg…]()

[2022-04-11 21:23] liuyinglao commented on #56
Hi @JonathanSum The model runs well on my device as well. The input and output are exactly the same as @raedle .

And I believe the
[code]
is not referring to gradle version but the output of the models. (otherwise it is likely to throw)

The Q&A models's output is [startIndex, endIndex], and the result is constructed with the
[code]

The error is saying the output startIndex(32) is larger than en

[2022-04-12 04:43] JonathanSum commented on #56
@liuyinglao thank you for answering. We all use the same model, so it should have issue. The only one thing I changed was  changing the 360 to 512 . The live.json file. I will change it back to 360 and redownload the model to test it again.

![Screenshot_20220410-140248](https://user-images.githubusercontent.com/21982975/162882118-3cfcdc48-0de7-4375-8908-41b2a8758d19.jpg)

https://user-images.gith

[2022-04-14 09:18] JonathanSum commented on #56
@[raedle](https://github.com/raedle)
Do you think the issue only exists in the Android because the code in IOS is corrected if @liuyinglao 's point on Error: 32 > 26 is correct? I have been seeing a lot of solutions for applying the Pytorch model for React Native, and most of them require writing the native code. Thus, I guess Pytorch Live is the same, so I am guessing there is a native code for I

[2022-04-14 14:53] JonathanSum commented on #56
I guess the issue happened because I changed the 360 to 512 in below:

    "pack": {
        "type": "tensor_from_string",
        "tokenizer": "bert",
        "string": "$text",
        "model_input_length": 512
    },
    "unpack": {
        "type": "bert_decode_qa_answer",
        "key": "answer"
    }
}

[2022-04-14 20:28] JonathanSum opened #57 "libreactnativejni.so is missing when adding the live package"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. Test it on Android
2. Do all the steps from here https://pytorch.org/live/docs/tutorials/add-package/
3. Use the Android Studio, run clean build, rebuild, and run
4. You will see the following Errors

Related: https://stackoverflow.com/questions/44485941/lib-so-missing-and-no-known-ru

[2022-04-14 21:25] JonathanSum commented on #57
In addition, I also tried to use the newest Live Core. Currently, It still has issues with the CMake:
https://github.com/pytorch/live/blob/main/react-native-pytorch-core/android/CMakeLists.txt

[2022-04-22 10:10] JonathanSum commented on #57
It is possible that this wrong setting caused this:
![image](https://user-images.githubusercontent.com/21982975/164686916-32f2123b-a246-435a-9cf8-769ec1ff6c1a.png)

[2022-04-26 08:19] yinshurman opened #58 "Crash on Android"
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I used the following commands to build an apk ,and the building process was successfully finished.
but after I installed the apk on my Android phone with android version 10，it crashed immediately every time you open it .

`npx torchlive-cli init myproject `
` cd myproject/android   `
 ` ./gradle

[2022-04-26 08:31] yinshurman commented on #58
Maybe the bug is due to I first debug it on my phone ,and it works and then I directly installed the release apk without remove the debug apk , and the installed app crashs.
After I removed the app and reinstalled it again , it works ! Don't know why 😅

[2022-04-26 08:31] #58 closed

[2022-04-29 16:01] #56 closed

[2022-04-29 16:30] liuyinglao commented on #56
@JonathanSum Hey Jonathan, thanks for reporting the issue! The ios and android could work differently since the tokenizers are implemented in native codes:
https://github.com/pytorch/live/blob/main/react-native-pytorch-core/android/src/main/java/org/pytorch/rn/core/ml/processing/BertTokenizer.java

https://github.com/pytorch/live/blob/main/react-native-pytorch-core/ios/ML/Processing/BertTokenizer.

[2022-04-30 16:35] Gernii commented on #57
@JonathanSum  u need to up or downgrade your react native to v0.65.1, I have tested all version, and only v0.65.1 work

[2022-04-30 22:54] JonathanSum commented on #57
@[Gernii](https://github.com/Gernii)
I will try your suggestion next week. After that, I will close it, if you are right.

[2022-05-04 20:28] EddyJens opened #59 "Lite Interpreter version number does not match"
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Executed the code at:

https://pytorch.org/live/docs/tutorials/prepare-custom-model/

with pytorch: 1.12.0.dev20220425+cu113

and then I put the model in models folder (from demo image classification) with live.spec.json file:
![image](https://user-images.githubusercontent.com/23038139/166820044

[2022-05-05 18:10] chrisklaiber commented on #59
Hi @EddyJens, thanks for the clear bug report! I believe this is because you've built the model (the .ptl file) with PyTorch 1.12 but PyTorch Live currently ships with LibTorch 1.11. I'd recommend exporting the model with PyTorch 1.11 as the most direct path forward.

[2022-05-06 14:50] EddyJens commented on #59
Nice @chrisklaiber it worked!! thanks

[2022-05-06 14:50] #59 closed

[2022-05-17 00:17] JohnZcp opened #60 "ImageUtil.toFile always return null"
### Version

0.0.0-04292022-1206-56d9e1d56

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I am trying to save the image to the file and save in the photo library, but the result from ImageUtil.toFile is null. Here is the output from the ImageUtil.toFile:{"_U": 0, "_V": 0, "_W": null, "_X": null}.

### Expected Results

_No response_

### Code example, screensh

[2022-05-17 17:06] Gernii commented on #60
@JohnZcp this is an async function, it'll return Promise<string>, so u have to await that function. Btw, you need to read the document more carefully.

![image](https://user-images.githubusercontent.com/54741529/168870675-c2e21659-ad1f-49ca-97d5-afec59859227.png)

[2022-05-19 20:17] clarksandholtz commented on #60
Seems this is resolved. Closing.

[2022-05-19 20:18] #60 closed

[2022-05-19 20:20] clarksandholtz commented on #57
@JonathanSum any luck with @Gernii's suggestion?

[2022-05-19 20:21] clarksandholtz commented on #55
Closing due to inactivity and looks like this is a PyTorch question, not PyTorch Live

[2022-05-19 20:21] #55 closed

[2022-05-19 20:24] clarksandholtz commented on #51
Looks like @raedle addressed this in [a0a9073](https://github.com/pytorch/live/commit/a0a90738ec12d932bb5c7ca0332eed693124b86b).

Can you confirm if this fixed it for you, @jslok?

[2022-05-21 08:50] bergkamp opened #61 "react-native-pytorch-core build failed on iOs simulator"
### Version

0.1.3

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

M1 Pro
follow https://pytorch.org/live/docs/tutorials/add-package/
When I use yarn ios, got this error

but I can run it on my iPhone 13 with Xcode

### Expected Results

package.json

[code]

### Code example, screenshot, or link to repository

_No response_

[2022-05-21 12:57] Gernii commented on #57
@JonathanSum v0.1.3 only work with v0.65, i dont know how lib demo work with v0.64, if u want to work in v0.66+, u have to wait for lib next version, if u still want to use in v0.65+ u can use '@nightly'.
Example: react-native-pytorch-core@nightly
This will take latest commit, not latest version
Warning: this can cause bug because maybe latest commit have bug

[2022-05-21 13:02] Gernii commented on #61
@bergkamp v0.1.3 only work with v0.65, if u want to work in react-native  v0.66+, you can check #57, maybe ít'll  help

[2022-05-22 02:45] LeonKennedy opened #62 "Error: fft: ATen not compiled with FFT support"
### Version

0.1

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

 I have a model trained by myself in python(Unix). but it can't be running in react size(Macos).

output:
 `Possible Unhandled Promise Rejection (id: 2):
Error: fft: ATen not compiled with FFT support

  Debug info for handle(s): -1, was not found.

Exception raised from _fft_r2c_mkl at ../aten/sr

[2022-05-22 02:54] LeonKennedy commented on #62
Train Side:
System: Ubantu 20.04
Cuda: 10.2
cudnn: 7.6
pytorch: 1.11
model: ASR(Enformer+CTC)
feature_extract: torchaudio.transforms.MelSpectrogram(n_mels=80, hop_length=160)

`

'PyTorch built with:\n  - GCC 7.3\n  - C++ Version: 201402\n  - Intel(R) Math Kernel Library Version 2020.0.0 Product Build 20191122 for Intel(R) 64 architecture applications\n  - Intel(R) MKL-DNN v2.5.2 (Git Hash a930253

[2022-05-22 03:04] LeonKennedy commented on #62
React Live Side:
System: Macos Monterey 12.3.1

i follow the instruction (https://pytorch.org/live/docs/tutorials/get-started/) in Android.
i can run every example demo success, like IMAGE CLASSIFICATION, QUESTION ANSWERING and Wav2vec2.

[2022-05-22 03:07] LeonKennedy commented on #62
So which side has the problem?(fft: ATen not compiled with FFT support) Unix(train)?Macos(inference)? How could i fix it? thanks!

[2022-05-22 04:23] bergkamp commented on #61
Thanks @Gernii
I had  downgrade react-native to v0.65,  unfortunately that the problem was not solved.

[2022-05-29 10:25] MohamedAliRashad opened #63 "PyTorch Live for Flutter"
### Area Select

Other

### Description

Is there any plans for `pytorch-live` to have an implementation in Flutter (Dart) ?

[2022-06-03 02:30] SomaKishimoto opened #64 "including Libtorchvision for using torchvision.ops.nms on mobile"
### Area Select

react-native-pytorch-core (core package)

### Description

For use a model with torchvision.ops.nms on ios, describing pod'LibTorchvision' in Podfile is needed, though I'm not sure about android.
If the model becomes available on mobile, the range of use would expand.

[2022-06-03 16:29] raedle commented on #64
@SomaKishimoto, thanks for reaching out! Would you be up for submitting a PR?

[2022-06-03 16:30] raedle commented on #63
@MohamedAliRashad there are no plans to support PyTorch Live on Flutter

[2022-06-03 16:30] #63 closed

[2022-06-03 16:33] raedle commented on #61
@bergkamp on machine architecture and OS are you seeing this error? (e.g., Intel Mac or Apple Silicon)

Can you try the `react-native-pytorch-core` version `0.2.0-rc.0`?

[2022-06-03 17:07] MohamedAliRashad commented on #63
@raedle
This was fast :laughing:

[2022-06-04 19:30] raedle commented on #62
@LeonKennedy, PyTorch Mobile doesn't support MKL. See the discussion in the PyTorch GitHub repo:

https://github.com/pytorch/pytorch/issues/29796

Closing issue because this is outside the purview of PyTorch Live

[2022-06-04 19:30] #62 closed

[2022-06-13 01:40] SomaKishimoto commented on #64
@raedle
I thought I should include it in our own applications, not in the pytorch / live library.
'LibTorchvision' is only needed when using a ptl model with torchvision.ops.nms and it's enough in applications.
Installing such unnecessary features only makes the library heavier.

Although I opened this issue, please allow me to withdraw it.

[2022-06-13 11:16] Skyy93 opened #65 "torchlive setup-dev stucks"
### Version

0.1.3

### Problem Area

CLI

### Steps to Reproduce

1. try to install on Mac M1 with npx torchlive-cli setup-dev
2. runs till Android SDK Manager
3. stucks there and loads forever (I have agreed to the license agreement)

### Expected Results

Installation runs further than the SDK manager

### Code example, screenshot, or link to repository

_No response_

[2022-06-13 16:05] raedle commented on #65
Hi @Skyy93, the `setup-dev` command is not working on Apple Silicon devices. The current solution to unblock is to follow the environment setup instructions on the React Native docs (see below).

This is a known issue, unfortunately. The React Native docs provide guidance for Mac M1 users:

https://reactnative.dev/docs/environment-setup

<img width="1214" alt="image" src="https://user-images.githu

[2022-06-13 21:26] #65 closed

[2022-06-16 06:37] SomaKishimoto opened #66 "react-native-pytorch-core build failed on Android"
### Version

v0.2.0-rc.1

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. make RN clean project
2. [follow tutorial](https://github.com/pytorch/live/issues/50#:~:text=native%2Dpytorch%2Dcore-,follow%20tutorial,-cd%20android%20%26%26%20./gradlew) and build
3. get this error
[code]

Is there anything that I need to do？

### Expected Results

BUILD SUCCESSFUL

#

[2022-06-21 04:44] bergkamp commented on #61
@raedle I used Mac with M1 Pro
I tried again and the problem is gone, My device and environment have not changed.
Thanks

[2022-06-21 04:44] #61 closed

[2022-07-01 00:06] raedle commented on #23
@Sxela and @mitsunami, the `react-native-pytorch-core` release candidate `v0.2.0-rc.2` has a PyTorch-inspired API to support a more flexible data processing. For example, have a look at the [useAnimeGANv2.ts](https://github.com/pytorch/live/blob/main/react-native-pytorch-core/example/src/useAnimeGANv2.ts) for an example how image to image works with this API.

More details on available ops are is

[2022-07-01 00:15] raedle commented on #26
@mdwelsh, @JohnZcp, and @kyleliang919, the `react-native-pytorch-core` release candidate `v0.2.0-rc.2` has a PyTorch-inspired API to support a more flexible data processing.

Tuples are now supported on both platforms Android and iOS with the PyTorch Live JavaScript API. For example, the following will run inference and destruct the output (tuple) into `y` and `z`.

[code]

Check out this example

[2022-07-04 02:04] SomaKishimoto commented on #64
closed

[2022-07-04 02:05] SomaKishimoto commented on #64
closed

[2022-07-04 02:05] #64 closed

[2022-07-04 08:43] kerbaypapilon opened #67 "Project Initializition Error"
### Tutorial Select

Get Started Manually

### Feedback

I think the command;
`npx react-native init MyFirstProject --template react-native-template-pytorch-live`

should be as;
`npx react-native init MyFirstProject --template pytorch-live`

[2022-07-08 06:23] liuyinglao commented on #66
Hi @SomaKishimoto Sorry for the late reply. We are working on a fix. This seems to be a issue when the app is using react-native 0.68+ (pls correct me if I am wrong) -- to unblock you at this moment, you may replace the line https://github.com/pytorch/live/blob/main/react-native-pytorch-core/android/build.gradle#L201 with

[code]
after install the package

Please let us know if you see other issue

[2022-07-08 08:31] alleniver opened #68 "when react-native new architecture support(0.68 or 0.69)?"
### Area Select

react-native-pytorch-core (core package)

### Description

When will react-native new architecture be supported?

[2022-07-08 17:38] liuyinglao commented on #68
Hi @alleniver, the ["next" version](https://www.npmjs.com/package/react-native-pytorch-core) (0.2.0.rc-3)  should support up to RN 0.67 for both Android and iOS, and RN0.68+ should also be supported on iOS.

we are working on a fix to support RN0.68+ on Android, hopefully we can have it in the ["nightly" version](https://www.npmjs.com/package/react-native-pytorch-core) by the end of next week

[2022-07-13 11:17] andydam452 opened #69 "Can't find variable: __torchlive__"
After install package, I got this error when run yarn start.
I add package to existing app which using bare react native.
Current RN ver: 0.66.0
React ver: 17.0.2

![image](https://user-images.githubusercontent.com/44116015/178721176-b7f03464-4039-401d-a960-521727025c23.png)

[2022-07-13 11:19] fazzysyed commented on #69
the app was working perfectly then suddenly i am also got this error don't know how to fix it

[2022-07-13 11:21] andydam452 commented on #69
@fazzysyed Hi, Did you update the package or something?

[2022-07-14 04:17] raedle commented on #69
@andydam452 is this happening on Android?

What is the `react-native-pytorch-core` package version that's used in the project?

From the error, it looks like the C++ parts of PyTorch Live aren't registered/loaded. We updated the documentation ["Add Package to Existing App"](https://pytorch.org/live/docs/next/tutorials/add-package/), which explains what the React Native project setup should look li

[2022-07-14 04:20] raedle commented on #68
@alleniver, the latest nightly has support for React Native `0.68`. A fix has been added in commit [fix RN0.68 can't build with react-native-pytorch-core](https://github.com/pytorch/live/commit/2cf281fea6fca9e2615b46045a3b13fb08eb93c5), which is currently only available in the nightly version.

We are also looking into supporting RN `0.69`

[2022-07-14 04:23] raedle commented on #66
@SomaKishimoto, the latest nightly has support for React Native 0.68. A fix has been added in commit [fix RN0.68 can't build with react-native-pytorch-core](https://github.com/pytorch/live/commit/2cf281fea6fca9e2615b46045a3b13fb08eb93c5), which is currently only available in the nightly version.

More information is in the docs ["Add Package to Existing App"](https://pytorch.org/live/docs/next/tut

[2022-07-14 04:28] raedle commented on #57
@Gernii and @JonathanSum, the latest nightly has support for up to React Native 0.68. React Native 0.69 is not yet supported, but we are also looking into supporting it.

The fix for 0.68 has been added in commit [fix RN0.68 can't build with react-native-pytorch-core](https://github.com/pytorch/live/commit/2cf281fea6fca9e2615b46045a3b13fb08eb93c5), which is currently only available in the nightly

[2022-07-14 04:31] raedle commented on #51
The issues were addressed in the current released version `0.2.0`. Closing the issue. Please reopen if the issue still happens on your end

[2022-07-14 04:31] #51 closed

[2022-07-14 04:32] raedle commented on #47
@abebe9849, we cannot reproduce the error. Does the issue still persist for you with the latest release `0.2.0`?

[2022-07-14 04:34] raedle commented on #7
@tnoulas, does this issue still exist in the latest release `0.2.0`?

[2022-07-14 04:55] raedle commented on #10
@JohnZcp and @zhiqwang, the latest release `0.2.0` of PyTorch Live has a JavaScript API to pre-/post-process data. The `live.spec.json` is no longer needed.

I create a [YOLOv5 example app](https://github.com/raedle/YOLOExample) with the new PyTorch Live API.

It would be fantastic if this could also work with the YOLOv5 Runtime Stack!

[2022-07-14 05:29] #68 closed

[2022-07-14 12:27] JonathanSum commented on #57
Closing this because my issue was solved in another way.

[2022-07-14 12:31] JonathanSum commented on #57
@raedle I will try to add it to my project with my OnePlus7 later to see if this unblocks me or not.

[2022-07-18 13:40] lavandaboy opened #70 "U2-net model for Pytorch Live"
### Tutorial Select

Prepare Custom Model

### Feedback

Hi Pytorch Live community,

I am trying to implement the ([U2-net model](https://github.com/xuebinqin/U-2-Net)) instead of AnimeGan model which is provided as an example to test how it works with Pytorch Live. The steps I do:

1. Conversion of the u2netp model (the small version of the U2-net model) using [this manual](https://pytorch.org/li

[2022-07-18 16:02] raedle commented on #70
Hi @lavandaboy, I tried [loading the model as lite interpreter model in a Google Colab](https://colab.research.google.com/drive/1lShJ4lQYQj0w-oQnGiVxOVOvYBSV26Fv?usp=sharing), but get a `RuntimeError`.

[code]

Can you provide the steps how you exported the model and saved it for the lite interpreter runtime (e.g., as a Google Colab)? Ideal would be if you could provide an example in the Google Co

[2022-07-19 06:49] raedle commented on #70
Hey @lavandaboy, I was able to use your exported model and build a simple on-device demo with PyTorch Live. You can find the code in the following repo:

https://github.com/raedle/UNetExample

![screenshot-android](https://user-images.githubusercontent.com/489051/179684479-fa6a8d50-930e-4dea-8c0e-16628e807df8.png) ![screenshot-ios](https://user-images.githubusercontent.com/489051/179684486-2f70c2c

[2022-07-19 09:27] SomaKishimoto commented on #66
@raedle , Sorry for late reply. I confirmed your fix works correctly. Thanks!

[2022-07-19 16:17] raedle commented on #66
No worries, and thanks for the response, @SomaKishimoto.

I'm going to close the issue

[2022-07-19 16:17] #66 closed

[2022-07-19 21:01] lavandaboy commented on #70
Hi Roman,

As always, thanks a lot for your help!

The conversion manual is the following:
1. Clone https://github.com/NathanUA/U-2-Net.git
2. Open file u2net_test.py
3. Go to row 57 and keep model_name='u2net' if you want to use the full model or change to model_name='u2netp' if you want to use the small model (less than 5Mb)
4. Go to row 94 (just below "net.eval()" code)
5. Add the following cod

[2022-07-23 17:25] peterpme opened #73 "Image Classification Tutorial Snack: Can't find variable __torchlive__"
### Version

0.2.0

### Problem Area

Website/Documentation

### Steps to Reproduce

1. https://playtorch.dev/docs/tutorials/snacks/image-classification/
2. Scan QR Code
3. `Can't find variable: __torchlive__ Evaluacting react-native-pytorch-core.js`

### Expected Results

No error message

### Code example, screenshot, or link to repository

Hi,

I noticed there was an issue for `__torchlive__` t

[2022-07-23 18:02] raedle commented on #73
Hi @peterpme, are you using the [PlayTorch app](https://playtorch.dev/) to scan the QR code on the Image Classification tutorial?

[2022-07-24 05:20] cjfghk5697 opened #74 "Tutorial link in README.md is not work"
### Tutorial Select

Image Classification

### Feedback

# Tutorial Page Not Found
Tutorial link in README.md is not work.

![image](https://user-images.githubusercontent.com/80466735/180633283-32d4b352-92b3-4b18-87fc-e59d6172a28e.png)

Tutorial link in README.md is 'https://playtorch.dev/docs/tutorials/image-classification'.  But it is linked as Page Not Found.

![image](https://user-images.githu

[2022-07-24 05:51] raedle commented on #74
Hi @cjfghk5697, thanks for reporting the broken link.

The link to the image classification tutorial that you provided is the correct link

https://playtorch.dev/docs/tutorials/snacks/image-classification/

Do you want to submit a PR?

[2022-07-24 05:53] cjfghk5697 commented on #74
Of course, Can i submit a PR?

[2022-07-24 06:17] cjfghk5697 commented on #74
Sure, I submit PR(https://github.com/facebookresearch/playtorch/pull/75).
Thank you for your kind reply.

[2022-07-24 06:24] #74 closed

[2022-07-24 06:25] raedle commented on #74
@cjfghk5697 the change looks good. Can you check out the automated response in #75?

We can merge the change when the CLA check passes

[2022-07-24 06:41] cjfghk5697 commented on #74
Thanks for your help! I posted a PR(https://github.com/facebookresearch/playtorch/pull/76) again.

[2022-07-24 10:04] cjfghk5697 commented on #73
I got same error in Image Classification tutorial(Can't find variable: __torchlive__)

![image](https://user-images.githubusercontent.com/80466735/180642004-c5e0e6ba-bbb4-4150-9f00-6dc8b5b22adf.png)

[2022-07-24 19:52] raedle commented on #73
@cjfghk5697 the PlayTorch Snacks only work in the PlayTorch apps. They do not work in the Expo Go apps or the embedded device emulators in the Expo Snack device panel.

More details are in the PlayTorch FAQ

https://playtorch.dev/faq/

[2022-07-25 18:26] lavandaboy opened #77 "U2-net cloth segmentation model"
### Tutorial Select

Prepare Custom Model

### Feedback

Hi Playtorch community,

I am trying to implement [this](https://github.com/levindabhi/cloth-segmentation) model. It is based on U2-net but does the clothes segmentation. I converted it in the same way as I did for the usual U2-net model, using [the tutorial](https://github.com/facebookresearch/playtorch/issues/70) I have previously posted.

[2022-07-25 21:01] liuyinglao commented on #77
Hi @lavandaboy

I tried with your example and got this error

[code]

The exception seems to be thrown when you loaded the model with `torch.jit._loadForMobile()`, may I ask how is the model exported? to use the torch.jit._loadForMobile(), the binary file (suffixed with `*.ptl`) would need to be export with the pytorch API like this way

[code]

[2022-07-26 07:34] SomaKishimoto opened #78 "Backward compatibility of ptl with live.spec on iOS"
### Version

0.2.0

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. make ptl file with live.spec.json
2. build a project with ptl on iOS
3. inference a input image
4. get this error
[code]

the project works well in 0.1.3, but the error comes up after upgrade to 0.2.0.
Is there no backward compatibility for ptl with live.spec?

No problem on Android.

### Exp

[2022-07-26 10:44] kkmehta03 commented on #69
Having the same issue. I'm trying to add it in my existing expo application, just followed the `yarn add react-native-pytorch-core` and tried to run it on iOS but received the same error

[2022-07-26 10:47] lavandaboy commented on #77
Hi @liuyinglao,

Thanks for the prompt reply.

I re-converted the model. The link to it (https://cdn-144.anonfiles.com/85n1Ge0by6/622106f0-1658829111/cloth_segm_live.ptl) and I used the following code in Colab:
[code]
I also updated the path to the model in my expo [snack](https://snack.expo.dev/@lavandaboy/testing-u-net-cloth-segmentation).

Let me know if I need to share anything else with you.

[2022-07-26 10:48] #70 closed

[2022-07-26 13:30] kkmehta03 commented on #73
To add to existing Expo apps, even after doing the `yarn add react-native-pytorch-core@nightly` I still get the same issue. Is there anything I've missed out? I have `react version: 18.2.0`, `react-native: 0.69.3` and I'm trying to run this on iOS. All I want is the `ResultScreens.js` to function so I can draw a box in the image based on prediction.

[2022-07-26 19:01] chrisklaiber commented on #77
@lavandaboy your model export code looks good.

The "Format Error" in the log is coming from this line, which has failed to recognize a compatible model format, like zip: https://github.com/pytorch/pytorch/blob/v1.12.0/torch/csrc/jit/mobile/import.cpp#L623

That makes sense because the model URL used in the snack is redirecting to an HTML page:

[code]

[2022-07-26 19:12] chrisklaiber commented on #78
Hi @SomaKishimoto. Live Spec support will be removed in the future, but in 0.2.0 it should continue to work as before.

Is it possible the model is returning a different format than before, or that the Live Spec has changed?

Here is the code where that error is raised: https://github.com/facebookresearch/playtorch/blob/v0.2.0/react-native-pytorch-core/ios/ML/Processing/Unpacker/BoundingBoxesUnpac

[2022-07-26 21:40] ansonsyfang commented on #73
Hi @kkmehta03, as @raedle mentioned above:

Have you tried running it on [PlayTorch app](https://playtorch.dev/)?

[2022-07-27 02:10] raedle commented on #69
@kkmehta03, the Expo managed workflow uses the Expo Go app to run the JavaScript code. You can either use [Expo Custom Development Clients](https://docs.expo.dev/development/introduction/) or eject from Expo (`yarn eject`)

[2022-07-27 09:40] lavandaboy commented on #77
Hi Chris,

Thanks for your message. Ok, I changed the URL to the direct Dropbox file (https://www.dl.dropboxusercontent.com/s/k9mm1b0c5xewpd7/cloth_segm_live.ptl)

Still no changes in the app. It seems to me that the app needs some time to download the model (176 Mb). I also added an alert in [my snack](https://snack.expo.dev/@lavandaboy/testing-u-net-cloth-segmentation) to understand when the mod

[2022-07-27 15:40] SomaKishimoto commented on #78
@chrisklaiber, thank you for the prompt response.

No, I haven't changed the Live Spec and any format in the model.
The model hasn't been changed before and after the upgrade(0.1.3 → 0.2.0)

Yes, I checked it several times, but didn't get hints to solve this error.

Please let me know if you have any idea to solve the problem than the mentioned above.
I'll check it a bit more!

[2022-07-27 17:37] vgoklani opened #81 "Does this package utilize the Apple Neural Engine (ANE)?"
### Area Select

react-native-pytorch-core (core package)

### Description

Hello,

Thanks for creating this project! I had a few questions around mobile performance, and more specifically, mobile hardware utilization.

1. Does this package utilize the hardware features of the Apple Neural Engine (ANE)?
2. Is this running on the mobile GPU or CPU?
3. How should we monitor CPU/GPU/memory usage on t

[2022-07-28 03:24] bergkamp opened #88 "Error: Value is a number, expected a String"
### Version

0.0.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Use ImageUtil.fromFile(xxxx) to load local image ,got error " [Error: Value is a number, expected a String]"

Apple M1 pro

node v16.15.0

### Expected Results

[code]

### Code example, screenshot, or link to repository

[code]

[code]

[code]

[2022-07-28 04:35] raedle commented on #88
@bergkamp, the issue is that `torch.jit._loadForMobile(filePath)` doesn't work with `require` directly. It has to be used with `MobileModel.download` as an intermediary.

[code]

When you write the anime image to disk, you'll have to prefix the uri with `file://`

[code]

Otherwise you are on a good path!

![image](https://user-images.githubusercontent.com/489051/181421306-f6c1bb65-4680-4f1d-aa79-

[2022-07-28 04:53] raedle commented on #81
@vgoklani, great questions!

1. PlayTorch uses PyTorch Mobile 1.12 as runtime. Specifically, it uses the [Lite Interpreter](https://pytorch.org/tutorials/prototype/lite_interpreter.html) runtime, which can load `TorchScript`ed models to perform inference. The lite interpreter runtime has limited support for GPU ([Vulkan](https://pytorch.org/tutorials/prototype/vulkan_workflow.html)/[Metal](https:/

[2022-07-28 04:56] raedle commented on #78
@SomaKishimoto, can you provide the live.spec.json that's packed with the model and the `forward` signature of the model?

Alternatively, we recommend migrating to the PlayTorch SDK JavaScript API. We can provide support when the `live.spec.json` is provided

[2022-07-28 05:16] bergkamp commented on #88
Be a great help, thanks! @raedle

[2022-07-28 05:16] #88 closed

[2022-07-28 06:57] raedle commented on #77
@lavandaboy, the following script exports a TorchScript model for the lite interpreter that loads in PlayTorch and returns inference results (e.g., run this in Google Colab):

[code]

The output is a rank-3 tensor (e.g., `[4,224,224]`)

I also uploaded the exported model to GitHub assets: https://github.com/raedle/test-some/releases/download/v0.0.2.0/cloth_segm_live_cpu.ptl

Hope that helps

[2022-07-28 12:11] kkmehta03 commented on #73
@ansonsyfang, I saw the demo with the playTorch app, but want to implement it on an existing react-native application, with expo in it.

[2022-07-28 13:18] vemusharan opened #89 "Error: Could not convert downloaded file into Torch Module"
### Version

 "dependencies": {
    "react": "17.0.2",
    "react-native": "0.66.4",
    "react-native-pytorch-core": "^0.1.3",
    "react-native-safe-area-context": "^4.2.5"
  },

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

When trying to get the inference from the model getting the error.

<img width="803" alt="Screenshot 2022-07-28 at 15 28 11" src="https

[2022-07-28 16:51] raedle commented on #89
Hi @vemusharan, from the screenshot that you provided, the code tries to load the `test.png` image from a macOS machine. This will not work. The `ImageUtil.fromFile` will only be able to load images from the mobile device's file system. You can either use `ImageUtil.fromBundle` or `ImageUtil.fromURL` (see [`ImageUtil` in docs](https://playtorch.dev/docs/0.1/api/core/modules/imagemodule/#imageutil)

[2022-07-28 16:54] raedle commented on #73
@kkmehta03 is this issue #69 related? I provided step-by-step instructions to set up `react-native-pytorch-core` with an Expo managed app

[2022-07-28 18:27] vemusharan commented on #89
Thanks a lot @raedle  for quick response, I tried to check with the `ImageUtil.fromURL` still I am getting the error. Please correct me if I am wrong, the `react-native-pytorch-core` `0.20` doesn’t allow us to deploy the model on mobile device ryt?

[2022-07-28 21:19] raedle commented on #89
@vemusharan, the latest release `0.2.0` allows model bundling with the app. The way this works is as follows

[code]

For reference, this is similar to how it is proposed in #88. Let us know if you run into issues!

[2022-07-28 21:38] zenetio opened #90 "Error message in Object Detection"
### Tutorial Select

Prepare Custom Model

### Feedback

I have two points.
1. Please make the error messages more user-friendly. I was working with OD example and got and got an error. The error message had a lot of things but not easy to find out what or where the error occurred. Then after reading the message many times, I decided to do a trying search in the files using a variable name I found

[2022-07-28 21:58] raedle commented on #90
Hi @zenetio, first of all, thank you for your feedback!

1. Absolutely! Please let us know what the error message and provide steps to reproduce the error/issue! This will help us identifying the issue and provide more user friendly error message with actionable feedback.
2. What is the device model on which you are seeing the issue? If you can, please provide a screenshot that shows the button un

[2022-07-29 03:24] zenetio commented on #90
Hi @raedle ,
1. In file **objectDetector.js** I changed the variable name from bounds to boxes and then I got a compilation error. The error message was not clear to clarify where and why I was getting the error. I think it could be more assertive.
2. My device is a Samsung Galaxy S9.  You can see in the screenshot that the OD app is drawing the button message exactly over the device button.
![od]

[2022-07-29 03:44] raedle commented on #90
1. If I understand correctly, you changed the following code in the `ObjectDetector.js` from

[code]

to

[code]

Is that correct?

2. Thanks for reporting the issue. If you are using the Expo Snack editor, you can change the `marginBottom` for the `resetButton` style in `screens/ResultScreen.js` to a higher number.

Full example for `screens/ResultScreen.js`:

[code]

[2022-07-29 04:20] zenetio commented on #90
Hi @raedle,
Yes, I changed the name bounds to boxes in **objectDetector.js** but I had no idea that I had to do the same in **ResultScreen.js** as well. That is the reason why I got the issue and the error message was not so friendly to help fix.
Regarding the "Take another picture" button, I changed the marginBottom value and now I can use it.
Thanks for the help.

[2022-07-29 04:20] #90 closed

[2022-07-29 05:19] kkmehta03 commented on #69
@raedle, thanks for your response! Is there any other way to install pytorch core into Android without ejecting expo? because with expo, we dont get access to the build gradle files. however, my app has a lot of expo dependencies. Any suggestions?

[2022-07-29 13:13] vemusharan commented on #89
Thank you @raedl.  I noticed that in order to resolve the error, we need to switch to `torch 1.11.0`.  Below is the code..

**makemodel.py**

[code]

[2022-07-29 13:13] #89 closed

[2022-07-29 18:55] raedle commented on #89
Thanks for reporting back, @vemusharan!

I would recommend using the new PlayTorch SDK with the JavaScript API to do data processing as the live spec will be remove in the next version.

[2022-07-31 04:18] zenetio opened #93 "OD and YOLOV5 crashes after run couple times"
### Version

_No response_

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Steps to reproduce.
1. Download the PlayTorch app
2. Use Scan QR Code to open Object Detection Preview or YOLOv5 Preview
3. Run the app a couple of times
4. The Object Detection Preview stops working after run 7 or 8x after the **Processing...** message
5. The YOLOv5 Preview stops work a

[2022-07-31 09:33] lavandaboy commented on #77
Hi @raedle,

Thanks a lot for your help. As I understand, I need to modify the code below to convert info from tensors into actual mapping of clothes using the image captured by the cam?
[code]

[2022-07-31 20:02] raedle commented on #93
Thanks for the report, @zenetio! We'll be looking into it

[2022-08-01 05:06] raedle commented on #77
@lavandaboy, yes, that's correct!

One caveat is that PlayTorch doesn't support all ops yet that are used in the post-processing for this cloth segmentation model. The **good news** is that you can still use the model if you create a model wrapper in Python that post-processes the model output and returns tensors that can be transformed in PlayTorch.

I prepared a model that works and created a si

[2022-08-01 05:28] raedle commented on #69
@kkmehta03, I'm not aware of any other option besides implementing an Expo Config Plugin (https://docs.expo.dev/guides/config-plugins).

The PlayTorch repo has an outdated [config plugin](https://github.com/facebookresearch/playtorch/blob/main/react-native-pytorch-core/src/expo-plugin/withPyTorchCore.ts) that works with `react-native-pytorch-core` version `0.1.3` and for React Native `0.64.3`.

We

[2022-08-01 12:45] lavandaboy commented on #77
Hi @raedle,

Huge thanks for your help! Everything works on my side. I am actually shocked how Pytorch models could be easily implemented on mobile devices.

I did not know about the wrapping of the model. Now it is much easier to export models. Regarding optimization, I have already contacted the author of the model to convert it using u2net_p (the small 8Mb model). Hope it will work much faster

[2022-08-02 05:01] SomaKishimoto commented on #78
@raedle, Here is live.spec.json and def forward.
The model using in my project is YOLOX and the project was created based on the DETR example , so I changed the output of YOLXO to match it.

**live.spec.json**
[code]
**def forward**
[code]
Maybe it's time to migrate to PlayTorch SDK JavaScript API.

[2022-08-04 00:08] ansonsyfang commented on #93
Hi @zenetio, thanks for reporting the issue!

We've updated the snacks. You can tap on "Take another picture" button to re-run the detection without exiting camera and re-scanning QR codes. It's also faster as you don't need to re-download the models. Please give it a try:
https://snack.expo.dev/@playtorch/object-detection
https://snack.expo.dev/@playtorch/yolov5-camera

Before the snack update, t

[2022-08-04 01:36] nh9k opened #98 "Including LibTorchvision on Android"
### Area Select

react-native-pytorch-core (core package)

### Description

Hello, thanks for your contributions.

I encountered a error on react native android to loading custom ptl model.
I think this error can solve if i can include Libtorchvision from relavated issue on this: https://github.com/facebookresearch/playtorch/issues/64

How can i include it in my android application?

Please provid

[2022-08-04 05:15] raedle commented on #98
Hi @nh9k, that's correct. The nms (non-maximum suppression) op is part of the Torchvision ops. The `react-native-pytorch-core` doesn't include the Torchvision ops, but they can be added to a project, if needed.

I created a repo for the D2Go model, which also requires Torchvision ops to run inference. I created a single commit for the changes that add Torchvision ops to Android and iOS. Have a loo

[2022-08-04 06:01] nh9k commented on #98
@raedle
Thanks for your swift response.
It's very helpful example for me :)

If i have any questions, i would like to report back.
Thank you so much!

[2022-08-04 07:23] nh9k commented on #98
@raedle I solved the error by referring to this commit, thank you!

[2022-08-05 05:50] raedle commented on #78
@SomaKishimoto, we found the culprit. After upgrading the LibTorch-Lite library from version `1.10.0` to `1.12.0`, the kind support changed to `c10::DynamicType`. Unfortunately, the unit tests didn't catch this. We have a fix in #99. When we merged the change, it will be available in the `react-native-pytorch-core@nightly` or the next planned release `0.2.1`.

Alternatively, as mentioned, it might

[2022-08-05 07:02] nh9k opened #100 "Flip a Tensor"
### Area Select

react-native-pytorch-core (core package)

### Description

Hi, thanks for contributions.

How can i flip a tensor like [torch.flip](https://pytorch.org/docs/stable/generated/torch.flip.html)?
There is no implementation of flip function in [Playtorch docs](https://playtorch.dev/docs/api/core/interfaces/torchlive_torch.torch/)

Another solution i thought is to make a new tensor and

[2022-08-05 08:01] SomaKishimoto commented on #78
@raedle , thanks for resolving the issue! I've verified that your fix works fine.

I will try to upgrade to the new PlayTorch SDK JavaScript API by referring to your explanation and let you know if I get stuck.

Thank you anyway!

[2022-08-05 15:33] raedle commented on #100
Hi @nh9k, thanks for reporting the need for this operation!

It's correct, there is no implementation for `torch.flip` or `Tensor.flip` operation in the PlayTorch SDK for version `0.2.0`. I submitted a PR #101, which will add this operation. When the PR is reviewed and merged, it will be available in the following `react-native-pytorch-core@nightly`.

In the meantime, if an operation is `TorchScri

[2022-08-06 01:24] raedle commented on #100
@nh9k, we merged #101 and it is available through the `react-native-pytorch-core@nightly` version.

Are you using the PlayTorch app and Expo Snack or are you developing in a local React Native app?

[2022-08-06 03:15] raedle commented on #100
@nh9k, there is another option via an exported model to polyfill the `torch.flip` operation until the next release of PlayTorch brings support for `Tensor.flip`.

The example Snack demonstrates the option: https://playtorch.dev/snack/@raedle/flip-polyfill

Basically, it wraps the `torch.flip` operation in an `torch.nn.Module` and exports it as a lite interpreter model:

[code]

The exported `flip.

[2022-08-06 04:12] zenetio commented on #93
@ansonsyfang,
Thanks for the feedback. Yes, now the "Take another picture" button is working correctly. It's nice!
On the other side, I am still getting crashes when I run both OD app. The YOLO5 is still crashing after running 3x but with the OD Preview, now I can run around 14, 15x until it crashes. Note that I have a lot of memory and free space in my cell phone. I was thinking to debug this iss

[2022-08-08 00:54] nh9k commented on #100
Hi! @raedle, Thank you so much your kindness.

I am developing in a local React Native app, and your idea which is building flip operation into the model is very good. Thank you for your suggestion!
In my case, our models need to flip image once more before inference, because the image on the app display already is fliped.
I will use one among the your solutions.
1) released `nightly` version
2) `

[2022-08-08 01:46] raedle commented on #100
@nh9k, do I understand correctly that `flip` is required to flip the output image before rendering it on screen?

Option 1 and 2 sound reasonable if you have control over the model or you can upgrade `react-native-pytorch-core` to the `nightly` version. In that case, it's mostly a preference where to execute the `flip`, and if you don't want to change the model, then using the `nightly` should get

[2022-08-08 02:28] nh9k commented on #100
@raedle, Thank you so much :smile:
my app gets a fliped image, so i have to flip image before our models infer this image.
In detail, my app will use `tensor.permute ([2,1,0])` and `flip`, because it receives images rotated 90 degrees.
I will report back if I have any questions or if this problem is solved.

[2022-08-08 21:17] zenetio opened #104 "Cannot import custom model"
### Tutorial Select

Prepare Custom Model

### Feedback

I am working on OD and YOLOv5 tutorials. Now, I am customizing the YOLOv5 project. When I try to import my custom model using the "Import files" option, I am getting a "**0 files imported, 1 failed to import**" message. My model has a size of 28 Mb. I am not sure if there is a limitation on size. My questions:
1. Is it possible to import the

[2022-08-08 21:22] raedle commented on #104
@zenetio, models can be hosted on any http server as long as the model is available via a URL and your mobile device can access this URL. For example, I've been uploading my test models as GitHub release assets: https://github.com/raedle/test-some/releases

Uploading models to an Expo Snack is restricted to 25MB. The current recommended way to host models is via an http server (as suggested above)

[2022-08-08 22:17] chrisklaiber commented on #104
For quick local development, a simple webserver and localtunnel can work well.

[code]

This will give a URL that serves the files in models/ to anyone on the web.

[2022-08-09 07:19] nh9k commented on #100
Hi @raedle, I solved the problem!
I just switched to this code.

`
const flippedTensor = tensor.flip([1,0]);
`

Thank you :)

[2022-08-09 15:21] raedle commented on #100
Fantastic to hear, @nh9k! I'll close the issue, then

[2022-08-09 15:21] #100 closed

[2022-08-09 15:22] raedle commented on #78
Fantastic to hear that the issue is resolved, @SomaKishimoto! I'll close the issue, then

[2022-08-09 17:45] spinoza1791 opened #105 "npm ERR! 404 Not Found - GET https://registry.npmjs.org/react-native-template-react-native-template-pytorch-live - Not found"
### Tutorial Select

Get Started Manually

### Feedback

The initial template has an internal typo referencing the wrong destination:

npx react-native init myapp --template react-native-template-pytorch-live

...
npm ERR! 404 Not Found - GET https://registry.npmjs.org/react-native-template-react-native-template-pytorch-live - Not found
...
Output error shows an extra "react-native-template-" adde

[2022-08-10 01:36] chrisklaiber commented on #105
Hello @spinoza1791, thank you for the bug report. I wasn't able to reproduce this issue. Is it still happening for you?
[code]

[2022-08-10 01:56] spinoza1791 commented on #105
Thank you, I'm still seeing this:
![image](https://user-images.githubusercontent.com/26606744/183793189-0e115ae0-cd0e-405e-b688-f51b200873ad.png)

I don't have issues installing any other unrelated template like expo, etc. Any idea why the URL is getting the extra "react-native-template-react-native-template-pytorch-live"

[2022-08-10 02:09] spinoza1791 commented on #105
Found a workaround. This command works:
npx react-native init myapp --template **pytorch-live**
![image](https://user-images.githubusercontent.com/26606744/183794789-2a2f16ae-5023-43e8-b443-d6271e9ff3d6.png)

[2022-08-10 02:40] chrisklaiber commented on #105
Hmm, I wonder if this could be due to the version of `react-native` being used. The old code used to add the extra prefix.

[code]

This older version of react-native did use the extra prefix: https://github.com/react-native-community/cli/issues/605#issuecomment-517627583 and the user on that thread found they were running with an older client in the npm cache. The `npx` command will try to fetch

[2022-08-10 04:02] zenetio commented on #104
@chrisklaiber , thanks for the tips. I tried to use your suggestion but got a format error and am not sure what is going on.
@raedle , I checked the example you pointed out but got no success because I could not find the correct way to call the URL and pass it to MobileModel.download() function. I am not familiar with Typescript. Anyway, I could manage the issue by uploading the model to my github

[2022-08-10 17:45] vemusharan opened #106 "Xcode Error : Cannot convert value of type 'Unmanaged<CGImage>?' to specified type 'CGImage?'"
### Version

0.2.0-rc.0

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

"dependencies": {
    "@react-native-community/masked-view": "^0.1.11",
    "@react-navigation/native": "^5.x",
    "@react-navigation/stack": "^5.x",
    "react": "17.0.2",
    "react-native": "0.65.1",
    "react-native-fs": "^2.20.0",
    "react-native-gesture-handler": "^2.5.0",
    "re

[2022-08-10 19:21] reinvantveer opened #107 "Test suite errors on fresh project: SyntaxError: Cannot use import statement outside a module"
### Version

0.2.0

### Problem Area

CLI

### Steps to Reproduce

1. Create a new project using `npx torchlive-cli init MyFirstProject && cd MyFirstProject`
2. run `yarn test`
[error.txt](https://github.com/facebookresearch/playtorch/files/9303291/error.txt)

Using
node v16.16.0
npm 8.12.1
yarn 1.22.19

### Expected Results

A passing test suite.

### Code example, screenshot, or link to reposito

[2022-08-10 21:32] ansonsyfang commented on #106
Hi @vemusharan, thanks for reporting the issue!

This seems to be caused by the return type change in iOS 15: https://developer.apple.com/documentation/ios-ipados-release-notes/ios-ipados-15-release-notes

* [cgImageRepresentation()](https://developer.apple.com/documentation/avfoundation/avcapturephoto/2873963-cgimagerepresentation) and [previewCGImageRepresentation()](https://developer.apple.com/

[2022-08-11 22:12] vemusharan commented on #106
Thanks a lot @ansonsyfang for quick response. Yes upgrading to Xcode 13 resolved the Issue :)

[2022-08-11 22:12] #106 closed

[2022-08-12 15:08] spinoza1791 commented on #105
I believe this is a cli install issue (not a playtorch issue) with solutions ref here: https://github.com/react-native-community/react-native-template-typescript/issues/80

[2022-08-13 12:23] vemusharan commented on #89
Thank you @raedle. New PlayTorch SDK with the JavaScript API is straightforward and developer-friendly. I'm working on a audio event classification task, Is it possible to read .wav file and convert it to tensor and pass the tensor as an input to the model using playtorch?

[2022-08-15 03:49] raedle commented on #104
@zenetio, glad to see that the inference with the custom model produces outputs.

Would you be able to share an Expo Snack with us to reproduce the two issues?

[2022-08-16 19:33] #105 closed

[2022-08-16 19:38] chrisklaiber commented on #67
This appears to be the same underlying issue as #105. There was an older version of the React Native CLI that would prefix "react-native-template-" and cause an issue with the downloading. The solution is to upgrade the globally installed React Native CLI version.

I will close out this issue, but feel free to reopen if needed.

[2022-08-16 19:38] #67 closed

[2022-08-16 19:59] chrisklaiber commented on #73
@peterpme this might be solved now with an update to react-native-pytorch-core@0.2.1, which simplifies how `__torchlive__` is defined.

With 0.2.1, our Expo config plugin should now be sufficient to get going with PlayTorch in a local project.

Following these steps...
[code]

...you should be able to add these lines to `App.tsx`...
[code]

...and see output like this in Metro.
[code]

[2022-08-16 20:01] chrisklaiber commented on #69
@kkmehta03 now with the release of 0.2.1 our Expo config plugin might now be working for you. See the expo steps in my comment here: https://github.com/facebookresearch/playtorch/issues/73#issuecomment-1217099999

[2022-08-16 20:02] chrisklaiber commented on #20
Hi @AyushExel- I wanted to circle back. There have been many updates and major API changes in our 0.2.0 series. One specific change with the just-released 0.2.1 version is a working Expo config plugin to help with configuring a new Expo project. See my comment here, I hope it helps: https://github.com/facebookresearch/playtorch/issues/73#issuecomment-1217099999

[2022-08-16 21:12] raedle commented on #107
@reinvantveer, thanks for flagging this. We'll be looking into it!

[2022-08-17 07:38] reinvantveer commented on #107
:+1: if at all possible, it would be a good idea adding the test setup to the CI

[2022-08-17 14:10] AyushExel commented on #20
@chrisklaiber hey thanks for the update. I kinda stopped playing with pytorch after this attempt. But the new release looks promising! I'll start exploring it again!

[2022-08-19 21:34] nik13 opened #112 "cannot release image after drawing it on canvas using CanvasRenderingContext2D"
### Version

0.0.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. Get an image from camera
2. Using CanvasRenderingContext2D canvas, draw image on canvas
3. try to release the image using image.release()
4. the application will crash

### Expected Results

it should just release the image from memory

### Code example, screenshot, or link to repository

ctx

[2022-08-19 23:22] chrisklaiber commented on #112
Hi @nik13, thanks for the bug report. Are you seeing this in a Snack using the PlayTorch app, or when building locally?

One workaround, for now, might be to use `await im.release()`. This could help if the crash is related to when the image is eventually released in the JS VM.

You wrote it was version "0.0.2", but I assume you mean "0.2.0". The "0.2.1" release is out now, and contains fixes to t

[2022-08-19 23:55] raedle commented on #112
@nik13, the `ctx.invalidate` needs to be awaited. The reason is that `ctx.invalidate` and `im.release` are both async, and with the provided code, it can happen that the image is released before the canvas is invalidated and drawn on the canvas.

Try the following code:

[code]

Hope that helps!

[2022-08-20 07:42] nik13 commented on #112
thanks! this works!

I have another question, is there any way we can delete tensors from memory after the operation is done?

`  const blob = media.toBlob(image);

  let tensor = torch.fromBlob(blob, [imageHeight, imageWidth, 3]);`

tensor here is not dereferenced from memory, even if the inference operation returns the value.

[2022-08-22 00:04] raedle commented on #112
@nik13, can you elaborate why the tensor memory is not deallocated?

Generally, memory will be freed after the tensor variable gets out of scope and the JavaScript GC kicks in

[2022-08-23 02:32] nh9k opened #114 "how to implement this: torchvision.transforms.functional.perspective"
### Area Select

react-native-pytorch-core (core package)

### Description

Hello! thanks for contributions!

I have a problem while developing my project.
I need a function like [torchvision.transforms.functional.perspective](https://pytorch.org/vision/stable/generated/torchvision.transforms.functional.perspective.html)

Could you add this implementation for `torchvision.transforms.functional.per

[2022-08-24 03:16] SomaKishimoto opened #115 "Repeated rendering to Canvas crashes app on iOS"
### Version

0.2.1

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

1. repeat rendering to Canvas

Error message:
`Message from debugger: Terminated due to memory issue`

just before the crush:
`W0821 11:40:23.873222 1881387008 JSIExecutor.cpp:381] Memory warning (pressure level: 1) received by JS VM, unrecognized pressure level`

The crush doesn't occur when  [

[2022-08-24 03:24] nik13 commented on #112
I have no idea why its not freed. If I keep on calling any inference on every frame, the memory keeps on building up. In my debugging I can see if if I'm not creating any tensors, then memory does not leak. I can conclude that its due to tensor leaking memory.

[2022-08-24 03:42] nik13 commented on #112
Also, correct me if Im wrong, the real tensor data in in native code right? If yes, we probably need to clear the data from native as well.

[2022-08-24 05:53] raedle commented on #115
@SomaKishimoto, thanks for reporting this issue. Can you share the canvas drawing source code?

If the canvas context is used in a rendering loop, then my hunch is that it is missing the `ctx.clear()` call at the beginning of loop

[2022-08-24 08:47] SomaKishimoto commented on #115
@raedle , thanks for your prompt reply.
`ctx.clear()` is not used as you mentioned because [the status](https://github.com/facebookresearch/playtorch/blob/main/react-native-pytorch-core/src/CanvasView.tsx#L229-L234) is deprecated.
Is this status going to change? and, is there any example instructed to use `ctx.clear()`?

we refer to [this example](https://github.com/facebookresearch/playtorch/blob

[2022-08-25 05:34] nik13 commented on #112
Hi, any update on this?

[2022-08-25 09:10] nik13 opened #116 "Tensor or model cannot be deleted from memory"
### Version

0.2.1

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

HI, so there is no method to clean the Tensors or Models from memory. The memory heap keep on increasing drastically if new tensors are made by a function all. They are never dereferenced from memory. its same for models.

Tensorflow.js also provides a method called .dispose() to delete either t

[2022-08-26 01:08] zenetio commented on #104
@raedle Yes, how can I do that? I send you my snack link or do I download the snack project and send you the zipped file?

[2022-08-26 05:29] raedle commented on #115
@SomaKishimoto, there is an issue with the recent change to the iOS canvas. We are investigating on a forward fix. In the meantime, the `ctx.clear()` will circumvent possible memory issues. Can you give it a try if this unblocks you?

[2022-08-26 05:43] raedle commented on #112
Can you provide more details on the memory profiling/debugging?

The memory usage looks fine (see screenshot). Note, there are expected spikes in memory usage due to the JavaScript GC running at different times freeing memory.

![image](https://user-images.githubusercontent.com/489051/186830158-4eae3755-fdc0-4d2f-bea7-fe558b1a8a71.png)

Yes, the tensor data is all managed in C++ and exposed via JS

[2022-08-26 05:47] raedle commented on #116
Hi @nik13, can you provide details on the profiling? Note, the PlayTorch SDK technology stack is different from tfjs. PlayTorch uses [jsi.h](https://github.com/facebook/hermes/blob/main/API/jsi/jsi/jsi.h), which supports C++ smart pointers and destructors (if needed). However, it is based on the JavaScript GC to cleanup unused objects and memory.

That said, it would help us to reproduce any possi

[2022-08-26 05:50] raedle commented on #114
Hi @nh9k, unfortunately there is no quick workaround. The PyTorch Mobile shared object library is not linked against LAPACK. It would require the PyTorch team to add an options to compile the PyTorch Mobile libraries with LAPACK for Android/iOS.

As suggested, you could post in the PyTorch repo and ask for support. If it's added to the PyTorch Mobile shared object libraries, we can pull in the new

[2022-08-26 05:52] raedle commented on #114
Hi @nh9k, unfortunately there is no quick workaround. The PyTorch Mobile shared object library is not linked against LAPACK. It would require the PyTorch team to add an options to compile the PyTorch Mobile libraries with LAPACK for Android/iOS.

As suggested, you could post in the PyTorch repo and ask for support. If it's added to the PyTorch Mobile shared object libraries, we can pull in the new

[2022-08-26 05:52] #114 closed

[2022-08-26 05:54] raedle commented on #104
@zenetio, you can post a link to a Snack here or send it to the email linked in my GitHub profile. If you take the latter route, please notify me here (in case your email lands in the spam filter)

[2022-08-26 06:09] nh9k commented on #114
Thanks @raedle, If I solve this problem from asking the PyTorch team for LAPACK, I report back!

[2022-08-26 07:45] SomaKishimoto commented on #115
@raedle , thanks! We'll try it and let you know if there is any progress!

[2022-08-26 08:39] SomaKishimoto commented on #115
Works fine, @raedle! Thanks a lot.

[2022-08-30 00:41] kimishpatel commented on #114
@raedle the posted issue also talks about XNNPACK but that should not be the issue. Are you not building with USE_XNNPACK=1 for pytorch?

[2022-08-30 00:49] raedle commented on #114
@kimishpatel, the PlayTorch API doesn't build PyTorch Mobile from source but uses the following PyTorch Mobile build artifacts

* Android: [`org.pytorch:pytorch_android_lite:1.12.2`](https://github.com/facebookresearch/playtorch/blob/main/react-native-pytorch-core/android/build.gradle#L113-L114)
* iOS: [`LibTorch-Lite ~> 1.12.0`](https://github.com/facebookresearch/playtorch/blob/main/react-native

[2022-08-30 00:58] kimishpatel commented on #114
I am not entirely sure. Let me get back to you on this. Also is this on ios or android?

[2022-08-30 01:00] raedle commented on #114
Thanks @kimishpatel!

@nh9k, is the issue with XNNPACK on both platforms Android and iOS or just on one of the two platforms?

[2022-08-30 01:28] peterpme commented on #73
Thank you! I'll close this out :)

[2022-08-30 01:29] #73 closed

[2022-08-30 01:44] nh9k commented on #114
Thanks @kimishpatel @raedle!
The issue is occured on Android. I haven't tested it in IOS.

[2022-08-30 14:59] kimishpatel commented on #114
Yeah for android it should be on by default.

[2022-09-05 02:07] nh9k commented on #114
@raedle, so, can i solve this problem?
How can i build react-native app with XNNPACK?
Writing dependencies `implementation "org.pytorch:pytorch_android_lite:1.12.2"`  at `build.gradle` file can solve this problem?

[2022-09-06 23:08] raedle commented on #115
Thanks for reporting back. Closing task!

[2022-09-06 23:08] #115 closed

[2022-09-07 04:57] raedle commented on #114
@nh9k, if symbols are part of `org.pytorch:pytorch_android_lite:1.12.2`, then you shouldn't need to do anything. The latest `react-native-pytorch-core` release `v0.2.1` uses `libpytorch_jni_lite.so` from `org.pytorch:pytorch_android_lite:1.12.2`.

What is the `react-native-pytorch-core` version that you tested?

Can you share a simple model + python export code for us to test as well?

[2022-09-07 06:28] nh9k commented on #114
@raedle, Thank you so much!
My `react-native-pytorch-core` version is `v1.0.0`, because i have some errors in windows to install packages.
I have another problem with the inference of quantized model, which is probably the same problem.
Thank you so much again, I will change pytorch core version to `v0.2.1` and report back!

[2022-09-07 06:47] SomaKishimoto commented on #115
@raedle , Unfortunately, repeated rendering crashes app on  **iPad Air Gen3 (OS15.5)** after running for 4 hours.
The error code is below
`Error: W0907 14:44:28.448568 1850142720 JSIExecutor.cpp:381] Memory warning (pressure level: 1) received by JS VM, unrecognized pressure level`

I confirmed that the app was working for at least 9 hours on iPhone.
However, I didn't check if it works more than 9

[2022-09-08 01:49] raedle commented on #114
@nh9k, are you using `torch.utils.mobile_optimizer.optimize_for_mobile` on the model that throws the XNNPACK error (see below)?

[code]

If that's the case, can you try adding `optimization_blocklist` for `INSERT_FOLD_PREPACK_OPS` for the `optimize_for_mobile` function?

[code]

More details: https://pytorch.org/docs/stable/mobile_optimizer.html

[2022-09-08 03:41] nh9k commented on #114
@raedle, Thank you so much!!
I have the same error (xnnpack) chaning `react-native-pytorch-core` version to `v0.2.1`.
The code with `from torch._C import MobileOptimizerType` you recommended got a error,
[code]
I don't know yet, why it is appear, it is probably my fault.
I don't work long time from now on, about a week, i would like to share my projects but i have no enough time for organizing my

[2022-09-08 06:42] raedle commented on #115
@SomaKishimoto, thanks for reporting the memory warning. Can you provide more info on the following three questions?

* Is the Hermes or JSC enabled as JavaScript Runtime? You can check with the following code

[code]

https://reactnative.dev/docs/hermes#confirming-hermes-is-in-use

* Is the app running in debug or release mode?
* Do you have a crash log that you can share?

[2022-09-09 02:15] SomaKishimoto commented on #115
@raedle , thanks for your prompt reply.
the answers to your questions are as follows.
* Hermes is true
* release mode
* No further information than the log I shared before

It's me that brought this question up, but this problem may be caused by something else.
I'll report back if there seems to be a problem with Playtorch.

[2022-09-09 02:57] raedle commented on #115
Thanks @SomaKishimoto, and please let us know if the issue is with PlayTorch!

[2022-09-13 13:51] mathewGlenn opened #123 "Pick image from gallery for image classification"
### Area Select

Website/Documentation

### Description

Can you please tell me if there is a feature where I can pick image from gallery for the image classification?

[2022-09-13 21:30] raedle commented on #123
Hi @mathewGlenn, there is the [ImagePicker](https://docs.expo.dev/versions/v44.0.0/sdk/imagepicker/) component from Expo that lets you pick photos from the camera roll.

I created a quick demo based on the Image Classification tutorial:

https://user-images.githubusercontent.com/489051/190012412-378f6549-1b13-43b9-ad56-f04f9b65703d.MP4

PlayTorch Snack to test: https://playtorch.dev/snack/@raedle/

[2022-09-14 11:10] mathewGlenn commented on #123
Thank you. I was using react-native-image-picker but I could not make it work.

[2022-09-14 16:28] raedle commented on #123
@mathewGlenn, are you trying to use the `react-native-image-picker` with the PlayTorch app or are you trying to use it with a custom React Native app project?

The latter should work with the `react-native-image-picker`. If that's the case, can you share the project or code samples that failed?

Happy to look into it!

[2022-09-15 01:00] nh9k commented on #114
@kimishpatel yes, converted `.ptl` model works fine from python code!

[2022-09-15 01:26] raedle commented on #114
@nh9k, can you share the model and the code used to export the model for the lite interpreter runtime?

[2022-09-15 02:59] nh9k commented on #114
@raedle, sorry i am late..
Can i share you my project using my private repository?
And my final aim is exporting quantization model with react-native app.
But it also has a problem. so can you test with quantization model?
If possible, i will share this quantized model `.pt` file(before making .ptl file) from my google drive.
The quantized model works well from python code.

[2022-09-15 03:16] raedle commented on #114
@nh9k, instead of sharing the private repo, can you please create a reproducible example publicly? This way, the community can also benefit if anyone has a similar issue :)

[2022-09-15 04:45] nh9k commented on #114
Alright! The code used to export the model is here.

**CODE**:
[code]

The model .pt file is [here(my google drive)](https://drive.google.com/drive/folders/1pEwP_BAFndLOM2jafibgkq2xcG99wtGT?usp=sharing)

Thank you so much, raedle.

[2022-09-15 06:28] raedle commented on #114
@nh9k, I was somewhat successful. The exported model loads on Android in the PlayTorch app, and it can run inference with a random tensor as input. There is an issue on iOS that I need to look into (i.e., iOS crashes with this model).

## Model export

I used the export similar to what you provided. The only change is that the module is already a `ScriptModule` and doesn't need to be traced but ca

[2022-09-15 07:20] nh9k commented on #114
@raedle, thank you so much!!, i am successful too.
I'm not sure why the previous model didn't work.
Thank you so much!!

[2022-09-15 08:53] nh9k commented on #114
@raedle, Is it still being tested on iOS? I haven't tested it on iOS yet.
What issues was there? I think i will test it within a month, too.

[2022-09-15 11:38] lavandaboy commented on #123
Hi @raedle,

Thanks a lot for your snack.

Just tested your snack on the new ios 16 using playtorch app. Unfortunately, the gallery button does not work. I press on it and nothing happens. The camera part works perfectly.

I will appreciate your help.

[2022-09-15 16:17] raedle commented on #123
@lavandaboy, I verified that the gallery button works on iOS `16.0 (20A362)` on an iPhone 11 Pro. What is the PlayTorch app version that is failing for you?

I am using the latest PlayTorch app version from the App Store with `Application version 0.1.1` and `Build version 6`

![image](https://user-images.githubusercontent.com/489051/190455484-87091b14-3e31-4358-a600-b0b5801ab75c.png)

[2022-09-15 23:15] chrisklaiber commented on #69
Closing this out with the given solution. Feel free to reopen if necessary.

[2022-09-15 23:15] #69 closed

[2022-09-16 07:28] nh9k commented on #114
Hi, @raedle,
I have a problem, would you help me?
I expected a float32 tensor output(e.g., 0.         0.01859372 0.         ... 0.), but I got the output data **0 or 1 of integer** when i printed the `outputTensor.data()` using `console.log` function. It is very strange.

[2022-09-16 11:02] kkmehta03 commented on #73
Hi @chrisklaiber, I followed the steps you mentioned, but for some reason, I get this error:
[code]

Have I missed something ?

[2022-09-16 19:44] #123 closed

[2022-09-16 19:44] raedle commented on #123
@mathewGlenn and @lavandaboy, I'm going to close the issue. Please reopen if the issue is not resolved for you!

[2022-09-16 22:57] chrisklaiber commented on #23
Closing this issue out since the packer / unpacker approach was removed with 0.2.2. Check out the PyTorch-inspired API in the README as an alternative that avoids these issues: https://github.com/facebookresearch/playtorch/tree/main/react-native-pytorch-core#example-usage

[2022-09-16 22:57] #23 closed

[2022-09-16 22:57] chrisklaiber commented on #26
Closing this issue out since the packer / unpacker approach was removed with 0.2.2. Check out the PyTorch-inspired API in the README as an alternative that avoids these issues: https://github.com/facebookresearch/playtorch/tree/main/react-native-pytorch-core#example-usage

[2022-09-16 22:57] #26 closed

[2022-09-16 22:59] chrisklaiber commented on #37
Closing this issue out since the "Live Spec" approach was removed with 0.2.2. Check out the PyTorch-inspired API in the README as an alternative that avoids these issues: https://github.com/facebookresearch/playtorch/tree/main/react-native-pytorch-core#example-usage

As an additional note, `topk` is available in the new API: https://playtorch.dev/docs/api/core/interfaces/torchlive_torch.tensor/#to

[2022-09-16 22:59] #37 closed

[2022-09-16 23:01] chrisklaiber commented on #42
Closing this issue out since the packer / unpacker approach was removed with 0.2.2. Check out the PyTorch-inspired API in the README as an alternative that avoids these issues: https://github.com/facebookresearch/playtorch/tree/main/react-native-pytorch-core#example-usage

As an additional note, see the YOLOv5 example for how to unpack using the current APIs: https://playtorch.dev/docs/tutorials/s

[2022-09-16 23:01] #42 closed

[2022-09-16 23:03] chrisklaiber commented on #10
Closing this issue because it appears to be resolved. Feel free to re-open if more info is needed. Also note, there is now a YOLOv5 tutorial available: https://playtorch.dev/docs/tutorials/snacks/yolov5/

[2022-09-16 23:03] #10 closed

[2022-09-16 23:08] chrisklaiber commented on #36
Hello @thePegasusai, I'm closing out this issue because the CLI has been removed from PlayTorch. Feel free to re-open if you need additional support.

With the latest PyTorch, you should not need to build the models any longer as part of setup, and the CLI is not required to set up a development environment.

We have release the PlayTorch app and a local development environment is no longer necess

[2022-09-16 23:08] #36 closed

[2022-09-16 23:11] chrisklaiber commented on #25
Closing out this issue since the torchlive-cli has been removed from PlayTorch with version 0.2.2. Thanks for reporting this.

We have released the PlayTorch app and a local development environment is no longer necessary. See https://playtorch.dev/docs/tutorials/get-started/

If a local development environment is needed, we recommend the default approach from React Native or Expo, applied to PlayT

[2022-09-16 23:11] #25 closed

[2022-09-16 23:13] chrisklaiber commented on #7
Closing this issue since it has been quiet for a long time. Since it was first filed, we've released the PlayTorch app to make it easier to get started without a local development environment. Follow these instructions to get going: https://playtorch.dev/docs/tutorials/get-started/

[2022-09-16 23:13] #7 closed

[2022-09-16 23:17] chrisklaiber commented on #20
Thanks for the followup, and thanks for your work on YOLOv5! I'll close this issue out for now, since it appears there is nothing specific left to address. Also, happily, there is now a YOLOv5 tutorial available: https://playtorch.dev/docs/tutorials/snacks/yolov5/

[2022-09-16 23:17] #20 closed

[2022-09-16 23:21] chrisklaiber commented on #33
Closing this issue out since the packer / unpacker approach was removed with 0.2.2. Check out the PyTorch-inspired API in the README as an alternative that avoids these issues: https://github.com/facebookresearch/playtorch/tree/main/react-native-pytorch-core#example-usage

As for the unsupported operation, I'd try it again. We have updated the versions of PyTorch and Torchvision used in the PlayTo

[2022-09-16 23:21] #33 closed

[2022-09-16 23:25] chrisklaiber commented on #47
Closing out this issue because the CLI has been removed from PlayTorch. Feel free to re-open if you need additional support.

We have released the PlayTorch app and a local development environment is no longer necessary. See https://playtorch.dev/docs/tutorials/get-started/

If you do want to set up a local development environment, we recommend the default approach from React Native or Expo, appli

[2022-09-16 23:25] #47 closed

[2022-09-19 00:42] nh9k commented on #114
@raedle, I figure out the blocklist was problem. When i removed this blocklist argument `optimization_blocklist`, the model output works fine as float output on react-native app. Thanks a lot for your help! I need to study more about this blocklist.

[2022-10-06 02:00] nh9k commented on #33
Hello @aaronespasa,  Where can i find example of a real-time use of "onFrame"?
This [Image Classification tutorial link](https://github.com/facebookresearch/playtorch/issues/33#issuecomment-1008751282) is unavailable and I can't find real-time example at [image classification example link](https://playtorch.dev/docs/0.2.0/tutorials/snacks/image-classification/) of playtorch tutorial.

[2022-10-07 03:21] nh9k opened #128 "Is there a real-time example?"
### Area Select

Website/Documentation

### Description

Hello, thank you for the work playtorch community is doing.
I am wondering about `real-time` examples using `camera onframe without a capture`
I have already commented yesterday this question in the relavant issue [here](https://github.com/facebookresearch/playtorch/issues/33#issuecomment-1269208498), but i ask again as a new issue.
Is there

[2022-10-07 07:32] nh9k commented on #128
I found real-time example at CameraExample.tsx of `MyFirstProject` from [playtorch tutorial](https://playtorch.dev/docs/0.2.0/tutorials/get-started-local/). thank you!

[2022-10-07 07:32] #128 closed

[2022-10-12 02:35] SomaKishimoto commented on #116
Hi, @raedle. I agree with @nik13. in my case, memory usage increases by 200MB in an hour when inference runs and it gradually increases, so probably the profile is useless to resolve this issue.
Also, keeping to call [getImageData](https://github.com/facebookresearch/playtorch/blob/main/react-native-pytorch-core/ios/Canvas/CanvasRenderingContext2D.swift#L548-L570) occurs increases of memory usage

[2022-10-12 02:56] raedle commented on #116
@SomaKishimoto, is this happening on Android or iOS or both platforms? Please share code to reproduce the issue

[2022-10-12 03:12] SomaKishimoto commented on #116
Thanks @raedle , it's on iOS. I don't check enough for Android...
we refer to [DETR example](https://github.com/facebookresearch/playtorch/blob/main/react-native-pytorch-core/example/src/toolbox/models/DETR.tsx) and do continuous rendering with onFrame instead of onCapture.
actually, the model that I use is YOLO model instead of DETR.

[2022-10-19 06:56] nh9k commented on #98
Hi, @raedle, my app crashes as soon as it starts on android from my another project after adding `Torchvision ops`.
The app gets successfully installed on both `android 11.0` and `12.0` with `x86_64`.

Other versions:
[code]

I also got the logs from `adb logcat`, but i don't guess what is the problem..

[code]

[2022-10-19 20:40] raedle commented on #98
@nh9k, from the logcat logs it looks like that the shared object libraries aren't packaged correctly.

But generally, there are two parts that are important to add `torchvision_ops` to your app. See how this is done in the PlayTorch app:

1. Add the `torchvision_ops` to the app's [build.gradle](https://github.com/facebookresearch/playtorch/blob/main/app/android/app/build.gradle#L319-L320) (make su

[2022-10-21 04:34] nh9k commented on #98
Hi, @raedle, always thank you so much!
This second part is helpful to me. :blush:

I readed this comment from [MainApplication.java](https://github.com/facebookresearch/playtorch/blob/main/app/android/app/src/main/java/dev/playtorch/MainApplication.java#L70-L71),
[code]
This means that loading this `CustomJSIModulePackage` as this code is not working?
[code]

I don't understand what difference of

[2022-10-21 04:34] #98 closed

[2022-10-27 19:01] remod commented on #73
I've got the same error as @kkmehta03 in my project as well as when following the steps provided by @chrisklaiber.

[2022-10-28 20:31] raedle commented on #73
@remod thanks for providing an update, and glad that it's resolved!

Generally, Expo and non-Expo workflow are supported by the latest PlayTorch API (`react-native-pytorch-core`). Would you be able to provide a repo where it fails with the Expo steps?

TIA!

[2022-10-28 21:36] remod commented on #73
Hi @raedle, thank you for your response.

I actually think the problem lies in the fact that I've just started with App development & Playtorch and therefore I am certainly confusing some things :sweat_smile:

When testing with my iPhone I used Expo, but in combination the Expo Go App because I do not have a Mac available to develop. For this reason I can't run `expo run:ios`. If I understood you

[2022-10-28 22:33] raedle commented on #73
@remod Thanks for clarifying.

Correct, PlayTorch does not work with the Expo Go app. However, there is the PlayTorch app available in both App Store and PlayStore (check out the links on the PlayTorch website: https://playtorch.dev/)

Play Store: https://play.google.com/store/apps/details?id=dev.playtorch
App Store: https://apps.apple.com/app/playtorch/id1632121045

The PlayTorch app can scan the

[2022-10-29 14:29] remod commented on #73
Thanks for the confirmation @raedle! I've tried the online demos, but I haven't managed to use host the app myself (using `npx expo start`) and run it in PlayTorch. The expo CLI also generates a QR tag but PlayTorch does not seem to recognize it.

I wonder whether it is actually possible to develop using the Expo Snack platform and finally upload the resulting app to the Play / App Store, without

[2022-10-29 20:01] raedle commented on #73
Developing locally with Expo vs. Expo Snack are two different workflows. The PlayTorch App only supports the Expo Snack workflow and is primarily intended for rapid prototyping purposes and sharing of on-device ML demos.

AFAIK, it is not possible to develop in an Expo Snack and publish it as an app directly from within the Expo Snack platform. However, you can follow Chris' steps above to build a

[2022-10-29 20:37] remod commented on #73
OK, thanks again for your help, much appreciated!

[2022-11-03 15:08] mshehrozsajjad-curevision opened #142 "Model output returns wrong dimensions"
### Version

0.2.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

I am using a RCNN model and I get the wrong dimensions of tensor in the output when it should be the same as input. I am always getting 28x28 no matter what is the actual image size. Also my app always crashes if size of image is greater.

### Expected Results

output: ', '[{"dtype":"float32","s

[2022-11-03 17:57] raedle commented on #142
@mshehrozsajjad-curevision, please share a minimal code example to reproduce the issue. TY!

[2022-11-07 13:01] mshehrozsajjad-curevision commented on #142
You can see the code here its quite simple

`
      const image = await ImageUtil.fromBundle(imageUrl);

      // Get image width and height
     const height = image.getHeight();
     const width = image.getWidth();

     // Convert image to blob, which is a byte representation of the image
    // in the format height (H), width (W), and channels (C), or HWC for short
     const blob = media.toBl

[2022-11-08 07:33] raedle commented on #142
The example code provided is not sufficient (e.g., the model is missing). Please provide a minimal reproducible example that shows the issue mentioned in the issue.

Also note, the example code uses both, the `then` function of the Promise API and the `async/await` syntax

[2022-11-09 00:58] SomaKishimoto opened #158 "App crashes with memory leak when running for a long time"
### Version

0.2.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Following the steps below, the memory heap increases at a pace of about 100MB per hour. We are developing an application that needs to run for long periods of time. Could you please tell me how to avoid this issue.

* [Create empty project](https://reactnative.dev/docs/environment-setup)

[code]

[2022-11-10 16:25] NgoVanDau opened #159 "get a error when run first tutorial - normalize(tensor)"
### Version

0.2.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Unhandled promise rejection Error: "Exception in HostFunction: isString() INTERNAL ASSERT FAILED at "/data/users/atalman/pytorch/aten/src/ATen/core/ivalue_inl.h":2111, please report a bug to PyTorch. Expected String but got InvalidTag(-1005520576)

  Debug info for handle(s): debug_handles:{-1},

[2022-11-10 18:34] raedle commented on #159
@NgoVanDau, please provide a reproducible end-to-end example, which should include the following:

* A model to reproduce the reported issue
* JavaScript code that loads the model and runs inference

Thank you!

[2022-11-11 00:50] NgoVanDau commented on #159
Hi raedle,
I'm using Transcrypt to translate my python code to react native. First of all, playtorch is easey to use and i am very interesting to it.
I try to run first your tutorial  - Image classification, log throw a error, so i print step by step variable. This is my snack: [https://snack.expo.dev/@dau123/imagenormaliize].
please tell me how to solve it.
By the way, when i code:
x = torch.rand

[2022-11-11 01:31] raedle commented on #159
@NgoVanDau, the issue with the `normalize` function is that the `dtype` of the input tensor needs to be `float32`, but the `dtype` in the provided Snack is `uint8`. There is a `tensor.div(255)` which would auto-convert the `dtype` from `uint8` to `float32`. However, the returned is never assigned to `tensor` (i.e., `tensor.div(255)` is not an in-place operation).

I changed the code in your Snack

[2022-11-11 02:02] NgoVanDau commented on #159
Thanks. It was run. Transcrypt is very interesting to translate python to Js and easy to do with React, React natvie :) because i like python.
[https://snack.expo.dev/@dau123/imagenormaliize](url)

How about the code asccording API:

const tensor = torch.rand([2]);
console.log(tensor.data, tensor[0].data);
// [0.8339180946350098, 0.17733973264694214], [0.8339180946350098]

but it log:
function dat

[2022-11-11 02:21] NgoVanDau commented on #159
Ohw, Thanks.
Please repair API. Thanks for your support.

[2022-11-11 02:21] #159 closed

[2022-11-12 17:47] thomaskwan opened #161 "Can't merge user_target_xcconfig for pod targets"
### Version

LibTorch-Lite (1.12.0), react-native-pytorch-core (0.2.2)

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

Environment:
* MacBook Air m1 Ventura 13.0
* Darwin MacBook-Air.local 22.1.0 Darwin Kernel Version 22.1.0: Sun Oct  9 20:14:30 PDT 2022; root:xnu-8792.41.9~2/RELEASE_ARM64_T8103 arm64
* npx --version
8.3.1
* packaage.json

[code]

1. npx react-

[2022-11-14 02:11] raedle commented on #161
@thomaskwan, are there any issues besides the `user_target_xcconfig` merge issue (i.e., does the RN app build and run on iOS)?

[2022-11-14 16:29] thomaskwan commented on #161
@raedle  thanks for getting back. When I run "npx react-native run-ios", I get the following errors

[code]
Running on the actual phone is fine tho. Not sure if my original reported messages are related the simulator issue or not. Are we supposed to be able to run it on Simulator?

Thanks

[2022-11-15 12:21] shahidjabbar commented on #161
@thomaskwan try running your Xcode in Rosetta mode. Go to your Application folder, double-tap on Xcode icon and select "Get Info". Select the option `Open using Rosetta`
And yes, Playtorch works flawlessly in Simulator too.

[2022-11-15 12:23] shahidjabbar commented on #161
Also, could you try opening the workspace in Xcode, clean the Derived Data directory and rebuild everything?

[2022-11-16 06:51] shahidjabbar commented on #161
Here is my Podfile. There are some options that you might want to turn on or off:

[2022-11-20 20:45] AyushExel commented on #20
@chrisklaiber hey! I decided to give it another shot with expo. I upgraded to the latest version of `react-native-pytorch-core`. Here is my package.json
[code]
And App.ts
[code]
On doing yarn android via expo, I get this error:
[code]

[2022-11-22 09:03] NgoVanDau opened #163 "Error when run QA toturial"
### Version

0.2.2

### Problem Area

react-native-pytorch-core (core package)

### Steps to Reproduce

_No response_

### Expected Results

_No response_

### Code example, screenshot, or link to repository

Dear Playtorch Team,
When i run program according your toturial (I program by transcrypt), it can't show answer.
Please tell me why it, and at line 15 of code, it warning that download now is

[2022-11-23 00:51] raedle commented on #163
@NgoVanDau, here is a working example with changes marked as inline comments:

[code]

PlayTorch Snack: https://snack.expo.dev/@raedle/questionanswer-test

You can ignore the warning about `MobileModel.download` or use a different way to download the PyTorch Mobile model onto the device

[2022-11-23 01:48] NgoVanDau commented on #163
Thanks @raedle.
It run, but very slow. can you optimize to increase speed in inference.
it my code: [https://snack.expo.dev/@dau123/questionanswer](url).
My transcrypt code,is it easy?:
**_async def answerQuestion(sourceText, question):
    if model == None:

        filePath = await MobileModel.download(MODEL_URL)
        #console.log('load model:', filePath)
        model = await torch.jit._load

[2022-11-23 01:51] raedle commented on #20
Hey @AyushExel, there are a few notable changes since the launch from last year. There are three options now. I listed them below in the order of increased involvement (or my subjective rating of difficulty).

# 1. Use PlayTorch app

*no CLI commands required*

Use the PlayTorch app available in Play Store and App Store and build ML demos on the Expo Snack platform (this is what the YOLOv5 tutoria

[2022-11-23 01:52] #163 closed

[2022-11-23 01:53] raedle commented on #163
Model training and model optimization is out of scope of PlayTorch. If you want to train a custom model and optimize for mobile (e.g., quantize), I recommend looking at the PyTorch Mobile documentation: https://pytorch.org/mobile/home/

[2022-11-23 13:04] AyushExel commented on #20
@raedle thanks!
I was probably doing `yarn add`. Your suggestion fixed the problem!

[2022-11-24 05:22] nh9k opened #164 "Simple custom model is not working on android"
### Tutorial Select

Prepare Custom Model

### Feedback

Hello, always thanks for contributions!
This is somewhat custom problem i think, so that i don't know that i can question.
My simple tensor manipulation model is not working on my react-native app, but it is working successfully at my python code.

My adb logcat of several code trials sometimes got output `memory consumptions problem`
or
my

[2022-11-24 15:42] mshehrozsajjad-curevision commented on #142
I found some help with model. I have to resize the mask to fit the input image. I have mostly translated most of the python code to work with playtorch with the exception to the last line. Is there any way to implement that using playtorch?

`

     def paste_mask_in_image_old(mask, box, img_h, img_w, threshold):
      """
      Paste a single mask in an image.
     This is a per-box implementatio

[2022-11-27 01:26] raedle commented on #164
@nh9k, what `react-native-pytorch-core` version are you using?

The model and the JavaScript code provided work on both Android (Samsung Galaxy S22) and iOS (iPhone Xs) and with the PlayTorch app (which uses `react-native-pytorch-core` `0.2.2`).

PlayTorch Snack url: https://snack.playtorch.dev/@raedle/post-cd-test?supportedPlatforms=my-device

<img width="1251" alt="image" src="https://user-image

[2022-11-27 05:20] raedle commented on #158
@SomaKishimoto, I can't repro the issue with the provided code and an iPhone Xs (see screenshots at the start of the memory measurement and after 1 hour continuously running the code).

* What iOS device was used in the experiment?
* What JavaScript runtime is enabled in the app (e.g., Hermes or JSC)?

### Start
<img width="1512" alt="Screen Shot 2022-11-26 at 8 13 56 PM" src="https://user-images.

[2022-11-28 06:37] nh9k commented on #164
@raedle, thank you very much for your test :smiley:, but i am still getting same errors on my android `Pixel 5, API 29, RAM 6GB/8GB`, `Pixel 5, API 30, 8GB`, and `Galaxy S9+, Android 10.0` at version `react-native-core@0.2.2` :cry:....

[2022-11-28 06:42] raedle commented on #164
@nh9k, what a bummer. Is this also happening with the PlayTorch Snack provided in my previous response?

[2022-11-28 07:20] nh9k commented on #164
I am not familiar with the expo, but I am trying it with my galaxy S9+.
There is another error before the test properly.

[2022-11-28 07:57] nh9k commented on #164
@raedle, this Playtorch Snack is working fine on my galaxy S9+!

[2022-11-28 07:58] raedle commented on #164
@nh9k, the code examples that you provided work. I can probably look into it again, but it will require a minimal and constantly reproducible example (e.g., via GitHub repo)

[2022-11-28 08:11] nh9k commented on #164
@raedle, thank you so much, i figure out what is the problem! :cry::cry::cry:
The problem was `.ptl` model..
Your model is working fine on my native app.
Is it used same code with my question?

[2022-11-28 08:20] raedle commented on #164
I copied and pasted your Python PostCD model code in Google Colab and exported the `post_cd.ptl` model

[2022-11-28 08:38] nh9k commented on #164
Colab pytorch version is 1.12.1, but my pytorch version is 1.10.0.
I think `version 1.10.0` may be the problem.
I'm always thankful and sorry to you.

[2022-11-28 18:22] raedle commented on #164
@nh9k an older PyTorch version could indeed be the cause. Can you try PyTorch `1.12.1` and report back? Thank you!

[2022-11-29 01:30] nh9k commented on #164
@raedle,  I made a mistake. My Pytorch version was `1.7.1`.
`!conda list` command in jupyter notebook did not work, so I used `conda list` instead.
Pytorch version `1.10.0`, `1.11.0`, and `1.12.1` were working fine on android! Thank you so much!

[2022-11-29 01:34] #164 closed

[2022-11-29 03:29] SomaKishimoto commented on #158
@raedle , thanks for trying to repro the issue.
my answers below

* device : iPhone SE 2nd
* OS : 16.11

* [hermes => true ](https://github.com/react-native-community/react-native-template-typescript/blob/0b2489a3ad43e5a8fee2c6a4276fc31f439a7abf/template/ios/Podfile#L18)

setting
* [package.json](https://github.com/react-native-community/react-native-template-typescript/blob/main/template/package.

[2022-11-30 23:53] raedle commented on #142
@mshehrozsajjad-curevision, it looks like the code in question replaces the values of the original image with the values of the mask that are within the bounding box corners.

It's really hard to offer support without a proper way to reproduce, but here is a take (no guarantee this works!):

[code]

Try it out with the PlayTorch app: https://snack.playtorch.dev/@raedle/paste-mask-in-image-old

![I